<footer class="ft">
    <div class="container">
      <div class="row ft-row">
        <div class="col-md-3 ft-col3 ft-logo-col">
          <div class="ft-logo-dv">
            <img src="../assets/images/nav-logo.png" class="img-fluid ft-logo">
          </div>
          <div class="ft-logo-p-dv">
            <p class="ft-logo-p">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minima vitae et perspiciatis nesciunt illum ipsum dicta quia magni. Asperiores atque repellendus, soluta officia labore quidem reprehenderit? Mollitia ea laudantium quidem?</p>
          </div>
        </div>
        <div class="col-md-2 ft-col3">
          <div class="ft-list">
            <ul class="ft-list-ul">
              <li class="ft-li"><a href="#">Home</a></li>
              <li class="ft-li"><a href="#">About us</a></li>
              <li class="ft-li"><a href="#">Our Stories</a></li>
              <li class="ft-li"><a href="#">Services</a></li>
              <li class="ft-li"><a href="#">Contact</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 ft-col3">
            <div class="ft-list">
              <ul class="ft-list-ul">
                <li class="ft-li"><a href="#">Wedding Photography</a></li>
                <li class="ft-li"><a href="#">Tourism / Honeymoons</a></li>
                <li class="ft-li"><a href="#">Stage Decor</a></li>
                <li class="ft-li"><a href="#">Brides Makeup</a></li>
                <li class="ft-li"><a href="#">Food And Catering</a></li>
              </ul>
            </div>
        </div>
        <div class="col-md-3 ft-col3">
          <div class="ft-list">
            <ul class="ft-list-ul ft-ct-ul">
              <li class="ft-li"><a href="#" class="ft-ct-link"><img src="../assets/images/contact-icons/email.svg" class="ft-contact-icons-link" alt="Email"> info@kalyanavayasu.com</a></li>
              <li class="ft-li"><a href="#" class="ft-ct-link"><img src="../assets/images/contact-icons/call.svg" class="ft-contact-icons-link" alt="Phone"> +91 98765 43210</a></li>            
              <div class="ft-social-dv">
                  <a href="#" class="ft-social-link"><img src="../assets/images/social-icons/facebook-logo.svg" class="ft-social-icons-link" alt="Facebook"></a>
                  <a href="#" class="ft-social-link"><img src="../assets/images/social-icons/instagram-logo.svg" class="ft-social-icons-link" alt="Instagram"></a>
                  <a href="#" class="ft-social-link"><img src="../assets/images/social-icons/twitter-logo.svg" class="ft-social-icons-link" alt="Twitter"></a>
                  <a href="#" class="ft-social-link"><img src="../assets/images/social-icons/whatsapp-logo.svg" class="ft-social-icons-link" alt="Whatsapp"></a>
              </div>
            </ul>
          </div>
        </div>
      </div>
    </div>
</footer>