<div class="container-fluid profile-main-dv secPadTp">
    <div class="container">
        <section class="profile-img-sec">
            <div class="row profile-img-row">
                <div class="col-md-3">
                    <div id="profileCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
                        <div class="carousel-inner" role="listbox">
                          <div class="carousel-item active">
                            <div class="img"><img class="d-block img-fluid" src="../assets/images/profile/profile-pic.jpg" alt="First slide"></div>
                          </div>
                          <div class="carousel-item">
                            <div class="img"><img class="d-block img-fluid" src="../assets/images/slider/kvm-slide-2.jpg" alt="Second slide"></div>
                          </div>
                          <div class="carousel-item">
                            <div class="img"><img class="d-block img-fluid" src="../assets/images/slider/kvm-slide-3.jpg" alt="Third slide"></div>
                          </div>
                        </div>
                        <a class="carousel-control-prev" href="#profileCarousel" role="button" data-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#profileCarousel" role="button" data-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="sr-only">Next</span>
                        </a>
                        <ol class="carousel-indicators mCustomScrollbar">
                            <li data-target="#profileCarousel" data-slide-to="0" class="active"><img src="../assets/images/profile/profile-pic.jpg" alt='' /></li>
                            <li data-target="#profileCarousel" data-slide-to="1"><img src="../assets/images/slider/kvm-slide-2.jpg" alt='' /></li>
                            <li data-target="#profileCarousel" data-slide-to="2"><img src="../assets/images/slider/kvm-slide-3.jpg" alt='' /></li>
                        </ol>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="profile-img-info">
                        <h3 class="profile-name">{{ profile.name }}</h3>
                        <div class="profile-img-detail">
                            <h5 class="pf-age-height"><span class="pf-age">{{ profile.getAge(profile.pDob) }} Yrs,</span> <span class="pf-height"> {{ profile.pHeight }} </span></h5>
                            <h5 class="pf-religion-caste"><span class="pf-religion">Hindu,</span> <span class="pf-caste"> Nadar (Caste No Bar)</span></h5>
                            <h5 class="pf-city-state-country"><span class="pf-city">Chennai,</span> <span class="pf-state">Tamilnadu,</span> <span class="pf-country"> India</span></h5>
                            <h5 class="pf-edu-job"><span class="pf-edu">MCA,</span> <span class="pf-job"> Software Professional</span></h5>
                            <br/>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <h5>Lets see how your profile looks to others</h5>
                            </div>
                            <div class="col-md-6 preview-profile-dv">
                                <a [routerLink]="['/home']" class="preview-profile-link"><img src="../../assets/images/profile/preview-icon.svg" class="img-fluid preview-profile-icon"> Preview Profile</a>
                            </div>
                        </div>
                        <br/>
                        <h4 class="pf-comp-head">Profile Completion</h4>
                        <div class="row pf-progress-row">
                            <div class="col-md-9">
                                <div class="progress pf-progress">
                                    <div class="progress-bar pf-progress-bar" style="width:78%"></div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <h3 class="pf-percentage">78%</h3>
                            </div>
                        </div>
                       
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<div class="container pf-personal-head-dv">
    <br/>
    <h5 class="pf-personal-head">Personal information</h5>
</div>

<div class="pf-personal-info-dv">
   <section class="pf-abt-sec pfSecPad">
       <div class="container pf-abt-dv pfContainer">
           <form class="pfAbt">
                <div class="row pf-hd-row">
                    <div class="col-md-10">
                            <h5 class="pf-personal-hd">A few words about you</h5>
                    </div>
                    <div class="col-md-2 text-right">
                            <a class="pf-edit-link" (click)="callEnable()"><img src="../../assets/images/profile/edit-icon.svg" class="img-fluid pf-edit-icon"> Edit</a>
                    </div>
                </div>
               <div class="row">
                    <div class="form-group col-md-12">
                        <textarea rows="3" class="form-control" [disabled]="isDisabled ? 'disabled' : ''">
                            I am making this profile for my friend. He completed his master's degree and is now working as a software professional. He belongs to a middle class, nuclear family with moderate values, currently settled in Chennai.
                        </textarea>
                    </div>
               </div>
               <div class="pf-btn-div text-right">
                    <button type="submit" class="btn btn-success pf-save-btn">Save</button>
                    <button type="submit" class="btn btn-danger pf-cancel-btn">cancel</button>
               </div>
               
               
           </form>
       </div>
   </section>

   <section class="pf-basic-dt-sec">
        <div class="container pf-basic-dt-dv pfContainer">
            
                <div class="row pf-hd-row">
                    <div class="col-md-10">
                            <h5 class="pf-personal-hd">Basic Details</h5>
                    </div>
                    <div class="col-md-2 text-right">
                            <a class="pf-edit-link" (click)="callEnable()"><img src="../../assets/images/profile/edit-icon.svg" class="img-fluid pf-edit-icon"> Edit</a>
                    </div>
                </div>
            <form class="pfBasicDt">
                <div class="row col-md-12">
                        <div class="form-group col-md-6 fg">
                            <label for="">Profile created for</label>
                            <select class="form-control" [disabled]="isDisabled ? 'disabled' : ''">
                                <option value="">Myself</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6 fg">
                            <label for="">Name</label>
                            <input type="text" class="form-control" [disabled]="isDisabled ? 'disabled' : ''">
                        </div>
                </div>
                <div class="row col-md-12">
                        <div class="form-group col-md-6 fg">
                            <label for="">Body Type / Complexion</label>
                            <select class="form-control" [disabled]="isDisabled ? 'disabled' : ''">
                                <option value="">Myself</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6 fg">
                            <label for="">Age</label>
                            <input type="text" class="form-control" [disabled]="isDisabled ? 'disabled' : ''">
                        </div>
                </div>
                <div class="row col-md-12">
                        <div class="form-group col-md-6 fg">
                            <label for="">Physical Status</label>
                           <input type="text" class="form-control" [disabled]="isDisabled ? 'disabled' : ''">
                        </div>
                        <div class="form-group col-md-6 fg">
                            <label for="">Height</label>
                            <input type="text" class="form-control" [disabled]="isDisabled ? 'disabled' : ''">
                        </div>
                </div>
                <div class="row col-md-12">
                        <div class="form-group col-md-6 fg">
                            <label for="">Weight</label>
                            <select class="form-control" [disabled]="isDisabled ? 'disabled' : ''">
                                <option value="">Myself</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6 fg">
                            <label for="">Mother Tongue</label>
                            <input type="text" class="form-control" [disabled]="isDisabled ? 'disabled' : ''">
                        </div>
                </div>
                <div class="row col-md-12">
                        <div class="form-group col-md-6 fg">
                            <label for="">Marital Status</label>
                           <input type="text" class="form-control" [disabled]="isDisabled ? 'disabled' : ''">
                        </div>
                        <div class="form-group col-md-6 fg">
                            <label for="">Eating habits</label>
                            <select class="form-control" [disabled]="isDisabled ? 'disabled' : ''">
                                <option value="">Habits</option>
                            </select>
                        </div>
                </div>
                <div class="row col-md-12">
                        <div class="form-group col-md-6 fg">
                            <label for="">Drinking habits</label>
                            <select class="form-control" [disabled]="isDisabled ? 'disabled' : ''">
                                <option value="">Habits</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6 fg">
                            <label for="">Smoking habits</label>
                            <select class="form-control" [disabled]="isDisabled ? 'disabled' : ''">
                                <option value="">Habits</option>
                            </select>
                        </div>
                </div>
                <div class="pf-btn-div text-right">
                    <button type="submit" class="btn btn-success pf-save-btn">Save</button>
                    <button type="submit" class="btn btn-danger pf-cancel-btn">cancel</button>
                </div>
            </form>
        </div>
   </section>

   
   <br/>

   <section class="pf-religion-dt-sec">
        <div class="container pf-religion-dt-dv pfContainer">
                <div class="row pf-hd-row">
                    <div class="col-md-10">
                            <h5 class="pf-personal-hd">Religion Information</h5>
                    </div>
                    <div class="col-md-2 text-right">
                            <a class="pf-edit-link" (click)="callEnable()"><img src="../../assets/images/profile/edit-icon.svg" class="img-fluid pf-edit-icon"> Edit</a>
                    </div>
                </div>
            <form class="pfBasicDt">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group col-md-12 fg">
                            <label for="">Religion</label>
                            <select class="form-control" [disabled]="isDisabled ? 'disabled' : ''">
                                <option value="">Myself</option>
                            </select>
                        </div>
                        <div class="form-group col-md-12 fg">
                            <label for="">Caste</label>
                            <select class="form-control" [disabled]="isDisabled ? 'disabled' : ''">
                                <option value="">Myself</option>
                            </select>
                        </div>
                        <div class="form-group col-md-12 fg">
                            <label for="">Sub Caste</label>
                            <input type="text" class="form-control" [disabled]="isDisabled ? 'disabled' : ''">
                        </div>
                        <div class="form-group col-md-12 fg">
                            <label for="">Gothram</label>
                            <input type="text" class="form-control" [disabled]="isDisabled ? 'disabled' : ''">
                        </div>
                        <div class="form-group col-md-12 fg">
                            <label for="">Star</label>
                            <select class="form-control" [disabled]="isDisabled ? 'disabled' : ''">
                                <option value="">Myself</option>
                            </select>
                        </div>
                        <div class="form-group col-md-12 fg">
                            <label for="">Raasi</label>
                            <select class="form-control" [disabled]="isDisabled ? 'disabled' : ''">
                                <option value="">Myself</option>
                            </select>
                        </div>
                        <div class="form-group col-md-12 fg">
                            <label for="">Dosham</label>
                            <select class="form-control" [disabled]="isDisabled ? 'disabled' : ''">
                                <option value="">Yes</option>
                                <option value="">No</option>
                                <option value="">Don't know</option>
                            </select>
                        </div>
                        <div class="form-group col-md-12 fg">
                            <label for="">Time of Birth</label>
                            <input type="text" class="form-control" [disabled]="isDisabled ? 'disabled' : ''">
                        </div>
                        <div class="form-group col-md-12 fg">
                            <label for="">Place of Birth</label>
                            <select class="form-control" [disabled]="isDisabled ? 'disabled' : ''">
                                <option value="">Yes</option>
                                <option value="">No</option>
                                <option value="">Don't know</option>
                            </select>
                        </div>
                    </div>
                        
                        
                </div>
              
                <div class="pf-btn-div text-right">
                    <button type="submit" class="btn btn-success pf-save-btn">Save</button>
                    <button type="submit" class="btn btn-danger pf-cancel-btn">cancel</button>
                </div>
            </form>
        </div>
   </section>
   <br/>
   <section class="pf-partner-loc-sec">
        <div class="container pf-partner-loc-dv pfContainer">
                <div class="row pf-hd-row">
                    <div class="col-md-10">
                            <h5 class="pf-personal-hd">Groom's Location</h5>
                    </div>
                    <div class="col-md-2 text-right">
                            <a class="pf-edit-link" (click)="callEnable()"><img src="../../assets/images/profile/edit-icon.svg" class="img-fluid pf-edit-icon"> Edit</a>
                    </div>
                </div>
            <form class="pfBasicDt">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group col-md-12 fg">
                            <label for="">Country</label>
                            <select class="form-control" [disabled]="isDisabled ? 'disabled' : ''">
                                <option value="">Myself</option>
                            </select>
                        </div>
                        <div class="form-group col-md-12 fg">
                            <label for="">City</label>
                            <select class="form-control" [disabled]="isDisabled ? 'disabled' : ''">
                                <option value="">Myself</option>
                            </select>
                        </div>
                        <div class="form-group col-md-12 fg">
                            <label for="">State</label>
                            <select class="form-control" [disabled]="isDisabled ? 'disabled' : ''">
                                <option value="">Myself</option>
                            </select>
                        </div>
                        <div class="form-group col-md-12 fg">
                            <label for="">Citizenship</label>
                            <select class="form-control" [disabled]="isDisabled ? 'disabled' : ''">
                                <option value="">Myself</option>
                            </select>
                        </div>
                    </div>
                </div>
              
                <div class="pf-btn-div text-right">
                    <button type="submit" class="btn btn-success pf-save-btn">Save</button>
                    <button type="submit" class="btn btn-danger pf-cancel-btn">cancel</button>
                </div>
            </form>
        </div>
   </section>
   <br/>
   <section class="pf-professional-info-sec">
        <div class="container pf-professioanl-info-dv pfContainer">
                <div class="row pf-hd-row">
                    <div class="col-md-10">
                            <h5 class="pf-personal-hd">Professional Information</h5>
                    </div>
                    <div class="col-md-2 text-right">
                            <a class="pf-edit-link" (click)="callEnable()"><img src="../../assets/images/profile/edit-icon.svg" class="img-fluid pf-edit-icon"> Edit</a>
                    </div>
                </div>
            <form class="pfBasicDt">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group col-md-12 fg">
                            <label for="">Education</label>
                            <select class="form-control" [disabled]="isDisabled ? 'disabled' : ''">
                                <option value="">Myself</option>
                            </select>
                        </div>
                        <div class="form-group col-md-12 fg">
                            <label for="">College / Institution</label>
                            <input type="text" class="form-control" [disabled]="isDisabled ? 'disabled' : ''">
                        </div>
                        <div class="form-group col-md-12 fg">
                            <label for="">Employed In</label>
                            <select class="form-control" [disabled]="isDisabled ? 'disabled' : ''">
                                <option value="">Public</option>
                            </select>
                        </div>
                        <div class="form-group col-md-12 fg">
                            <label for="">Occupation</label>
                            <select class="form-control" [disabled]="isDisabled ? 'disabled' : ''">
                                <option value="">Myself</option>
                            </select>
                        </div>
                        <div class="form-group col-md-12 fg">
                            <label for="">Organization</label>
                            <input type="text" class="form-control" [disabled]="isDisabled ? 'disabled' : ''">
                        </div>
                        <div class="form-group col-md-12 fg">
                            <label for="">Annual Income</label>
                            <select class="form-control" [disabled]="isDisabled ? 'disabled' : ''">
                                <option value="">Myself</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="pf-btn-div text-right">
                    <button type="submit" class="btn btn-success pf-save-btn">Save</button>
                    <button type="submit" class="btn btn-danger pf-cancel-btn">cancel</button>
                </div>
            </form>
        </div>
   </section>
   <br/>
   <section class="pf-abt-family-sec">
        <div class="container pf-family-dt-dv pfContainer">
                <div class="row pf-hd-row">
                    <div class="col-md-10">
                            <h5 class="pf-personal-hd">Family Details</h5>
                    </div>
                    <div class="col-md-2 text-right">
                            <a class="pf-edit-link" (click)="callEnable()"><img src="../../assets/images/profile/edit-icon.svg" class="img-fluid pf-edit-icon"> Edit</a>
                    </div>
                </div>
            <form class="pfBasicDt">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group col-md-12 fg">
                            <label for="">Family Values</label>
                            <select class="form-control" [disabled]="isDisabled ? 'disabled' : ''">
                                <option value="">Myself</option>
                            </select>
                        </div>
                        <div class="form-group col-md-12 fg">
                            <label for="">Family Type</label>
                            <select class="form-control" [disabled]="isDisabled ? 'disabled' : ''">
                                <option value="">Myself</option>
                            </select>
                        </div>
                        <div class="form-group col-md-12 fg">
                            <label for="">Family Status</label>
                            <select class="form-control" [disabled]="isDisabled ? 'disabled' : ''">
                                <option value="">Public</option>
                            </select>
                        </div>
                        <div class="form-group col-md-12 fg">
                            <label for="">Ancestral / Family Origin</label>
                            <select class="form-control" [disabled]="isDisabled ? 'disabled' : ''">
                                <option value="">Myself</option>
                            </select>
                        </div>
                        <div class="form-group col-md-12 fg">
                            <label for="">Family Location</label>
                            <select class="form-control" [disabled]="isDisabled ? 'disabled' : ''">
                                <option value="">Myself</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group col-md-12 fg">
                            <label for="">Father's Status</label>
                            <select class="form-control" [disabled]="isDisabled ? 'disabled' : ''">
                                <option value="">Myself</option>
                            </select>
                        </div>
                        <div class="form-group col-md-12 fg">
                            <label for="">Mother's Status</label>
                            <select class="form-control" [disabled]="isDisabled ? 'disabled' : ''">
                                <option value="">Myself</option>
                            </select>
                        </div>
                        <div class="form-group col-md-12 fg">
                            <label for="">No of Brother(s)</label>
                            <input type="number" class="form-control" [disabled]="isDisabled ? 'disabled' : ''">
                        </div>
                        <div class="form-group col-md-12 fg">
                            <label for="">No of Sister(s)</label>
                            <input type="text" class="form-control" [disabled]="isDisabled ? 'disabled' : ''">
                        </div>

                    </div>
                </div>
                <div class="pf-btn-div text-right">
                    <button type="submit" class="btn btn-success pf-save-btn">Save</button>
                    <button type="submit" class="btn btn-danger pf-cancel-btn">cancel</button>
                </div>
            </form>
        </div>
   </section>
   <br/>
   <section class="pf-family-dt-sec">
        <div class="container pf-abt-fmly-dv pfContainer">
                <div class="row pf-hd-row">
                    <div class="col-md-10">
                            <h5 class="pf-personal-hd">About My Family</h5>
                    </div>
                    <div class="col-md-2 text-right">
                            <a class="pf-edit-link" (click)="callEnable()"><img src="../../assets/images/profile/edit-icon.svg" class="img-fluid pf-edit-icon"> Edit</a>
                    </div>
                </div>
            <form class="pfBasicDt">
                <div class="row">
                    <div class="form-group col-md-12">
                        <textarea rows="3" class="form-control" [disabled]="isDisabled ? 'disabled' : ''">
                            I am making this profile for my friend. He completed his master's degree and is now working as a software professional. He belongs to a middle class, nuclear family with moderate values, currently settled in Chennai.
                        </textarea>
                    </div>
                </div>
                <div class="pf-btn-div text-right">
                    <button type="submit" class="btn btn-success pf-save-btn">Save</button>
                    <button type="submit" class="btn btn-danger pf-cancel-btn">cancel</button>
                </div>
            </form>
        </div>
   </section>
   <br/>
   <section class="pf-life-style-sec">
        <div class="container pf-life-style-dv pfContainer">
                <div class="row pf-hd-row">
                    <div class="col-md-10">
                            <h5 class="pf-personal-hd">Life Style</h5>
                    </div>
                    <div class="col-md-2 text-right">
                            <a class="pf-edit-link" (click)="callEnable()"><img src="../../assets/images/profile/edit-icon.svg" class="img-fluid pf-edit-icon"> Edit</a>
                    </div>
                </div>
            <form class="pfBasicDt">
                <div class="row">
                    <div class="form-group col-md-12">
                        <textarea rows="3" class="form-control" [disabled]="isDisabled ? 'disabled' : ''">
                            I am making this profile for my friend. He completed his master's degree and is now working as a software professional. He belongs to a middle class, nuclear family with moderate values, currently settled in Chennai.
                        </textarea>
                    </div>
                </div>
                <div class="pf-btn-div text-right">
                    <button type="submit" class="btn btn-success pf-save-btn">Save</button>
                    <button type="submit" class="btn btn-danger pf-cancel-btn">cancel</button>
                </div>
            </form>
        </div>
   </section>
   <br/>

   <div class="container pf-personal-head-dv">
        <br/>
        <h5 class="pf-personal-head">Partner Preference</h5>
    </div>

    <section class="pf-pt-basic-dt-sec">
            <div class="container pf-basic-dt-dv pfContainer">
                
                    <div class="row pf-hd-row">
                        <div class="col-md-10">
                                <h5 class="pf-personal-hd">Basic & Religion Preferences</h5>
                        </div>
                        <div class="col-md-2 text-right">
                                <a class="pf-edit-link" (click)="callEnable()"><img src="../../assets/images/profile/edit-icon.svg" class="img-fluid pf-edit-icon"> Edit</a>
                        </div>
                    </div>
                <form class="pfBasicDt">
                    <div class="row col-md-12">
                            <div class="form-group col-md-6 fg">
                                <label for="">Bride's Age</label>
                                <select class="form-control" [disabled]="isDisabled ? 'disabled' : ''">
                                    <option value="">Myself</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6 fg">
                                <label for="">Height</label>
                                <input type="text" class="form-control" [disabled]="isDisabled ? 'disabled' : ''">
                            </div>
                            <div class="form-group col-md-6 fg">
                                <label for="">Marital Status</label>
                                <input type="text" class="form-control" [disabled]="isDisabled ? 'disabled' : ''">
                            </div>
                            <div class="form-group col-md-6 fg">
                                <label for="">Physical Status</label>
                                <input type="text" class="form-control" [disabled]="isDisabled ? 'disabled' : ''">
                            </div>
                            <div class="form-group col-md-6 fg">
                                <label for="">Eating habits</label>
                                <select class="form-control" [disabled]="isDisabled ? 'disabled' : ''">
                                    <option value="">Habits</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6 fg">
                                <label for="">Drinking habits</label>
                                <select class="form-control" [disabled]="isDisabled ? 'disabled' : ''">
                                    <option value="">Habits</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6 fg">
                                <label for="">Smoking habits</label>
                                <select class="form-control" [disabled]="isDisabled ? 'disabled' : ''">
                                    <option value="">Habits</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6 fg">
                                    <label for="">Religion</label>
                                    <select class="form-control" [disabled]="isDisabled ? 'disabled' : ''">
                                        <option value="">Hindu</option>
                                    </select>
                                </div>
                            <div class="form-group col-md-6 fg">
                                <label for="">Mother Tongue</label>
                                <select class="form-control" [disabled]="isDisabled ? 'disabled' : ''">
                                    <option value="">Tamil</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6 fg">
                                <label for="">Caste</label>
                                <select class="form-control" [disabled]="isDisabled ? 'disabled' : ''">
                                    <option value="">Nadar</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6 fg">
                                <label for="">Star</label>
                                <select class="form-control" [disabled]="isDisabled ? 'disabled' : ''">
                                    <option value="">Rohini</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6 fg">
                                <label for="">Dosham</label>
                                <select class="form-control" [disabled]="isDisabled ? 'disabled' : ''">
                                    <option value="">Chevvai</option>
                                </select>
                            </div>
                    </div>
                    <div class="pf-btn-div text-right">
                        <button type="submit" class="btn btn-success pf-save-btn">Save</button>
                        <button type="submit" class="btn btn-danger pf-cancel-btn">cancel</button>
                    </div>                                  
                </form>
            </div>
    </section>
    <br/>
    <section class="pf-pt-prof-pref-sec">
        <div class="container pf-pt-prof-pref-dv pfContainer">
            
                <div class="row pf-hd-row">
                    <div class="col-md-10">
                            <h5 class="pf-personal-hd">Professional Preferences</h5>
                    </div>
                    <div class="col-md-2 text-right">
                            <a class="pf-edit-link" (click)="callEnable()"><img src="../../assets/images/profile/edit-icon.svg" class="img-fluid pf-edit-icon"> Edit</a>
                    </div>
                </div>
            <form class="pfBasicDt pfBasicPrf">
                <label>Education</label>
                <div class="container bCheckBox">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" value="">B.Tech
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" value="">M.Tech
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" value="">BCA
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" value="">MCA
                            </label>
                        </div>
                </div>
                <br/>
                <label>Occupation</label>
                <div class="container bCheckBox">
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" value="">B.Tech
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" value="">M.Tech
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" value="">BCA
                            </label>
                        </div>
                        <div class="form-check">
                            <label class="form-check-label">
                                <input type="checkbox" class="form-check-input" value="">MCA
                            </label>
                        </div>
                </div>
                <br/>
                <div class="form-group col-md-6 fg">
                    <label for="">Annual Income</label>
                    <select class="form-control" [disabled]="isDisabled ? 'disabled' : ''">
                        <option value="">Rs.1 - 2 lakhs</option>
                    </select>
                </div>
                <br/>
                <div class="pf-btn-div text-right">
                    <button type="submit" class="btn btn-success pf-save-btn">Save</button>
                    <button type="submit" class="btn btn-danger pf-cancel-btn">cancel</button>
                </div>                                  
            </form>
        </div>
    </section>
    <br/>
    <section class="pf-pt-loc-pref-sec">
            <div class="container pf-pt-loc-pref-dv pfContainer">
                
                    <div class="row pf-hd-row">
                        <div class="col-md-10">
                                <h5 class="pf-personal-hd">Location Preferences</h5>
                        </div>
                        <div class="col-md-2 text-right">
                                <a class="pf-edit-link" (click)="callEnable()"><img src="../../assets/images/profile/edit-icon.svg" class="img-fluid pf-edit-icon"> Edit</a>
                        </div>
                    </div>
                <form class="pfBasicDt">
                    <div class="row col-md-12">
                            <div class="form-group col-md-6 fg">
                                <label for="">Country</label>
                                <select class="form-control" [disabled]="isDisabled ? 'disabled' : ''">
                                    <option value="">Country</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6 fg">
                                <label for="">Residing State</label>
                                <select class="form-control" [disabled]="isDisabled ? 'disabled' : ''">
                                        <option value="">State</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6 fg">
                                <label for="">Citizenship</label>
                                <select class="form-control" [disabled]="isDisabled ? 'disabled' : ''">
                                    <option value="">Indian</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6 fg">
                                <label for="">Residing District</label>
                                <select class="form-control" [disabled]="isDisabled ? 'disabled' : ''">
                                    <option value="">District</option>
                                </select>
                            </div>
                    </div>
                    <div class="pf-btn-div text-right">
                        <button type="submit" class="btn btn-success pf-save-btn">Save</button>
                        <button type="submit" class="btn btn-danger pf-cancel-btn">cancel</button>
                    </div>                                  
                </form>
            </div>
    </section>
    <br/>
    <section class="pf-pt-look-for-sec">
            <div class="container pf-pt-loc-for-dv pfContainer">
                
                    <div class="row pf-hd-row">
                        <div class="col-md-10">
                                <h5 class="pf-personal-hd">What we are looking for</h5>
                        </div>
                        <div class="col-md-2 text-right">
                                <a class="pf-edit-link" (click)="callEnable()"><img src="../../assets/images/profile/edit-icon.svg" class="img-fluid pf-edit-icon"> Edit</a>
                        </div>
                    </div>
                <form class="pfBasicDt">
                    <div class="row col-md-12">
                        <div class="form-group col-md-12">
                            <textarea rows="3" class="form-control" [disabled]="isDisabled ? 'disabled' : ''">
                                I am making this profile for my friend. He completed his master's degree and is now working as a software professional. He belongs to a middle class, nuclear family with moderate values, currently settled in Chennai.
                            </textarea>
                        </div>
                    </div>
                    <div class="pf-btn-div text-right">
                        <button type="submit" class="btn btn-success pf-save-btn">Save</button>
                        <button type="submit" class="btn btn-danger pf-cancel-btn">cancel</button>
                    </div>                                  
                </form>
            </div>
    </section>
    <br/>
</div>
