

<section class="regVerify-sec comPad">
        <div class="container-fluid regVerify-sec-container">
            <div class="container">
                <div class="row regVerify-row">
                    <div class="col-md-3 col-sm-2"></div>
                    <div class="col-md-6 col-sm-8 regVerify-col8">
                        <div class="regVerifyBox">
                            <div class="regVerifyInnerBox">
                                <h4 class="text-center regVerify-form-head">Verify Your Mobile Number</h4>
                                
                                
                                    <div class="regVerifyForm-dv"  [hidden]="user">
                                        <div class="form-group col-sm-12 ">
                                                <p> We send One Time Password For Your Mobile Number.Please enter 6 digit number below.If OTP is not received click resend code.</p>
                                            <label>Enter 6 digit Code</label>
                                            <div class="input-group input-group-lg center-block">
                                                <input type="text"  class="form-control" placeholder="Enter 6 digit Code" value="{{ _pMobNo1 }}">
                                            </div>
                                            <div id="recaptcha-container"></div>
                                        </div>
                                        <div class="row form-group text-center regVerify-form-btn-row">
                                            <div class="col-sm-8 regVerify-form-btn-div justify-content-center"  [hidden]="user">
                                                <button (click)="sendLoginCode()" class="btn regVerify-form-btn">Submit</button>
                                            </div>
                                        </div>
                                        <br/>   
                                        
                                        <div class="col-sm-8 regVerify-form-resend-div justify-content-center">
                                            <a href="#" class="regVerify-resend-link">Resend Code</a>
                                        </div>
                                    </div>
                                    <div *ngIf="windowRef.confirmationResult">
                                        <hr>
                                        <label for="code">Enter your Verification Code Here</label><br>
                                        <input type="text" name="code" [(ngModel)]="verificationCode">
                                    
                                        <button (click)="verifyLoginCode()">Verify</button>
                                    </div> 
                                
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-2"></div>
                </div>
            </div>
        </div>
    </section>
