@import '../../../styles/global/colors';

.profile-img-sec{
    border:2px solid #eaeaea;
    #profileCarousel {
        margin: 20px auto;
        width: 400px;
    }
    #profileCarousel {
        margin: 20px auto;
        width: 250px;
    }
    #profileCarousel .carousel-item img{
        height: 250px;
        border-radius:5px;
    }
    #profileCarousel .carousel-indicators {
        margin: 10px 0 0;
        overflow: auto;
        position: static;
        text-align: left;
        white-space: nowrap;
        width: 100%;
    }
    #profileCarousel .carousel-indicators li {
        background-color: transparent;
        -webkit-border-radius: 0;
        border-radius: 0;
        display: inline-block;
        height: auto;
        margin: 0 !important;
        width: auto;
    }
    #profileCarousel .carousel-indicators li img {
        display: block;
        opacity: 0.5;
        // width:100px;
        width: 82px;
        height: 70px;
        border-radius: 5px;
    }
    #profileCarousel .carousel-indicators li.active img {
        opacity: 1;
    }
    #profileCarousel .carousel-indicators li:hover img {
        opacity: 0.75;
    }
    #profileCarousel .carousel-outer {
        position: relative;
    }
    .profile-img-row{
        padding: 0.2em 1.5em;
        .profile-img-info{
            padding-left: 2em;
            color: #212529d1;
            .profile-name{
                text-transform: uppercase;
                padding-top: 1em;
                font-weight:600;
                color: $kvm-black;
            }
            .profile-img-detail{
                .ptpf-age-height{
                    font-weight: 100;
                }
            }
           .preview-profile-dv{
                .preview-profile-icon{
                    width:30px;
                }
               .preview-profile-link{
                   padding: 1em 1.5em;
                   background: $kvm-red;
                   color:$kvm-white;
                   border-radius: 30px;
               }
               .preview-profile-link:hover{
                    text-decoration-line: none;
               }
           }
           .ptpf-comp-head{
                text-transform: uppercase;
                color: $kvm-black;   
            }
            .ptpf-progress-row{
                .ptpf-progress{
                    height: 2.5rem;
                    background: $kvm-lightGreen;
                    border-radius: 0px 30px 30px 0px;
                    .ptpf-progress-bar{
                        background: $kvm-darkGreen;
                        border-radius: 0px 30px 30px 0px;
                    }
                }
                .ptpf-percentage{
                    font-weight: 600;
                    color:$kvm-black;
                }
            }
            
        }
    }
   
}
.ptpf-personal-head{
    text-transform: uppercase;
    font-weight: 600;
}
.ptpf-personal-info-dv{
    .ptpfSecPad{
        padding-bottom: 1.5em;
    }
    .ptpfContainer{
        border:2px solid #eaeaea;
        padding: 1em;
        -webkit-box-shadow: 0 8px 8px -2px #eaeaea;
        -moz-box-shadow: 0 8px 8px -2px #eaeaea;
        box-shadow: 0 8px 8px -2px #eaeaea;
    }
    .ptpfMatchContainer{
        border-bottom:2px solid #eaeaea;
        padding: 1em;
    }
    .ptpf-hd-row{
        padding-bottom: 0.5em;
        .ptpf-personal-hd{
            color: $kvm-red;
        }
        .ptpf-edit-link{
            background: $kvm-darkGreen;
            padding: 0.4em 0.8em;
            border-radius: 30px;
            color: $kvm-white;
            cursor: pointer;
            .ptpf-edit-icon{
                width:20px;
            }
        }
    }
    .ptpf-btn-div{
        .btn{
            border-radius: 30px;
        }
        .ptpf-save-btn{
            background: $kvm-darkGreen;
            margin-right: 0.5em;
        }
        .ptpf-cancel-btn{
            background: $kvm-red;
        }
    }
   
}
.ptpfBasicDt .form-group{
    display: flex;
    margin-bottom: 0.1rem;
    // align-items: center;
}
.ptpfBasicDt .form-group label {
    width: 60%;
}
.ptpfMatchContainer .form-group label{
    width:30%;
}
.bCheckBox{
    border: 1px solid #eee;
    height:200px;
    overflow: auto;
}
.ptpf-prf-img-sec{
    padding: 2em 0em;
    .ptpf-match-dv{
        padding:3em 0em;
    }
    .ptpf-match-img{
        border-radius:50%;
    }
}

@media only screen and (max-width: 768px) {
    .profile-img-sec{
        #profileCarousel {
            width: auto !important;
        }
        #profileCarousel .carousel-item img{
            height: auto !important;
        }
        .profile-name, .ptpf-comp-head{
            font-size: 1.2em;
        }
        .ptpf-comp-head{
            font-size: 1.1em;
        }
        .profile-img-detail h5{
            font-size: 1em;
        }
        .profile-img-info{
            padding-left: 0.1em;
        }
    }
    .preview-profile-dv{
        .preview-profile-icon{
            width:17px !important;
        }
    }
}

@media only screen and (min-width:769px) and (max-width: 991px) {
    .profile-img-sec{
        #profileCarousel {
            width: auto !important;
        }
        #profileCarousel .carousel-item img{
            height: auto !important;
        }
    }
   
}