<div class="container-fluid profile-main-dv secPadTp">
    <div class="container">
        <section class="profile-img-sec">
            <div class="row profile-img-row">
                <div class="col-md-3">
                    <div id="profileCarousel" class="carousel slide" data-ride="carousel" data-interval="false">
                        <div class="carousel-inner" role="listbox">
                          <div class="carousel-item active">
                            <div class="img"><img class="d-block img-fluid" src="../assets/images/profile/profile-pic.jpg" alt="First slide"></div>
                          </div>
                          <div class="carousel-item">
                            <div class="img"><img class="d-block img-fluid" src="../assets/images/slider/kvm-slide-2.jpg" alt="Second slide"></div>
                          </div>
                          <div class="carousel-item">
                            <div class="img"><img class="d-block img-fluid" src="../assets/images/slider/kvm-slide-3.jpg" alt="Third slide"></div>
                          </div>
                        </div>
                        <a class="carousel-control-prev" href="#profileCarousel" role="button" data-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#profileCarousel" role="button" data-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="sr-only">Next</span>
                        </a>
                        <ol class="carousel-indicators mCustomScrollbar">
                            <li data-target="#profileCarousel" data-slide-to="0" class="active"><img src="../assets/images/profile/profile-pic.jpg" alt='' /></li>
                            <li data-target="#profileCarousel" data-slide-to="1"><img src="../assets/images/slider/kvm-slide-2.jpg" alt='' /></li>
                            <li data-target="#profileCarousel" data-slide-to="2"><img src="../assets/images/slider/kvm-slide-3.jpg" alt='' /></li>
                        </ol>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="profile-img-info">
                        <h3 class="profile-name">srikumar</h3>
                        <div class="profile-img-detail">
                            <h5 class="ptpf-age-height"><span class="ptpf-age">30 Yrs,</span></h5>
                            <h5 class="ptpf-age-height"><span class="ptpf-height"> 5 Ft 2 In / 157 Cms</span></h5>
                            <h5 class="ptpf-religion-caste"><span class="ptpf-religion">Hindu,</span></h5>
                            <h5 class="ptpf-religion-caste"><span class="ptpf-caste"> Nadar (Caste No Bar)</span></h5>
                            <h5 class="ptpf-city-state-country"><span class="ptpf-city">Chennai,</span> <span class="ptpf-state">Tamilnadu,</span> <span class="ptpf-country"> India</span></h5>
                            <h5 class="ptpf-edu-job"><span class="ptpf-edu">MCA,</span> <span class="ptpf-job"> Software Professional</span></h5>
                            <br/>
                        </div>
                        
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<div class="container ptpf-personal-head-dv">
    <br/>
    <h5 class="ptpf-personal-head">Personal information</h5>
</div>

<div class="ptpf-personal-info-dv">
   <section class="ptpf-abt-sec ptpfSecPad">
       <div class="container ptpf-abt-dv ptpfContainer">
           <form class="ptpfAbt">
                <div class="row ptpf-hd-row">
                    <div class="col-md-12">
                            <h5 class="ptpf-personal-hd">About Myself</h5>
                    </div>
                </div>
               <div class="row">
                    <div class="form-group col-md-12">
                        <p>I am making this profile for my friend. He completed his master's degree and is now working as a software professional. He belongs to a middle class, nuclear family with moderate values, currently settled in Chennai.</p>
                    </div>
               </div>
           </form>
       </div>
   </section>

   <section class="ptpf-basic-dt-sec">
        <div class="container ptpf-basic-dt-dv ptpfContainer">
            
                <div class="row ptpf-hd-row">
                    <div class="col-md-12">
                            <h5 class="ptpf-personal-hd">Basic Details</h5>
                    </div>
                </div>
            <form class="ptpfBasicDt">
                <div class="row col-md-12">
                        <div class="form-group col-md-6 fg">
                            <label for="">Profile created for</label>
                            <p>Myself</p>
                        </div>
                        <div class="form-group col-md-6 fg">
                            <label for="">Name</label>
                            <p>asss</p>
                        </div>
                </div>
                <div class="row col-md-12">
                        <div class="form-group col-md-6 fg">
                            <label for="">Body Type / Complexion</label>
                            <p>Wheatish</p>
                        </div>
                        <div class="form-group col-md-6 fg">
                            <label for="">Age</label>
                            <p>30 Years</p>
                        </div>
                </div>
                <div class="row col-md-12">
                        <div class="form-group col-md-6 fg">
                            <label for="">Physical Status</label>
                           <p>Normal</p>
                        </div>
                        <div class="form-group col-md-6 fg">
                            <label for="">Height</label>
                            <p>5 Ft 2 In
                        </div>
                </div>
                <div class="row col-md-12">
                        <div class="form-group col-md-6 fg">
                            <label for="">Weight</label>
                            <p>62 Kgs </p>
                        </div>
                        <div class="form-group col-md-6 fg">
                            <label for="">Mother Tongue</label>
                            <p>Tamil</p>
                        </div>
                </div>
                <div class="row col-md-12">
                        <div class="form-group col-md-6 fg">
                            <label for="">Marital Status</label>
                            <p>Never Married</p>
                        </div>
                </div>
            </form>
        </div>
   </section>

   
   <br/>

   <section class="ptpf-religion-dt-sec">
        <div class="container ptpf-religion-dt-dv ptpfContainer">
                <div class="row ptpf-hd-row">
                    <div class="col-md-12">
                            <h5 class="ptpf-personal-hd">Religion Information</h5>
                    </div>
                </div>
            <form class="ptpfBasicDt">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group col-md-12 fg">
                            <label for="">Religion</label>
                            <p>Hindu</p>
                        </div>
                        <div class="form-group col-md-12 fg">
                            <label for="">Caste</label>
                            <p>Nadar (Caste No Bar)</p>
                        </div>
                        <div class="form-group col-md-12 fg">
                            <label for="">Sub Caste</label>
                            <p>Kongu Nadar</p>
                        </div>
                        <div class="form-group col-md-12 fg">
                            <label for="">Gothram</label>
                            <p>Not Specified</p>
                        </div>
                        <div class="form-group col-md-12 fg">
                            <label for="">Dosham</label>
                            <p>Don't know</p>
                        </div>
                    </div>
                </div>
            </form>
        </div>
   </section>
   <br/>
   <section class="ptpf-partner-loc-sec">
        <div class="container ptpf-partner-loc-dv ptpfContainer">
                <div class="row ptpf-hd-row">
                    <div class="col-md-10">
                            <h5 class="ptpf-personal-hd">Groom's Location</h5>
                    </div>
                </div>
            <form class="ptpfBasicDt">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group col-md-12 fg">
                            <label for="">Country</label>
                            <p>India</p>
                        </div>
                        <div class="form-group col-md-12 fg">
                            <label for="">City</label>
                            <p>Coimbatore</p>
                        </div>
                        <div class="form-group col-md-12 fg">
                            <label for="">State</label>
                            <p>TamilNadu</p>
                        </div>
                        <div class="form-group col-md-12 fg">
                            <label for="">Citizenship</label>
                            <p>India</p>
                        </div>
                    </div>
                </div>
            </form>
        </div>
   </section>
   <br/>
   <section class="ptpf-professional-info-sec">
        <div class="container ptpf-professioanl-info-dv ptpfContainer">
                <div class="row ptpf-hd-row">
                    <div class="col-md-10">
                            <h5 class="ptpf-personal-hd">Professional Information</h5>
                    </div>
                </div>
            <form class="ptpfBasicDt">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group col-md-12 fg">
                            <label for="">Education</label>
                            <p>MCA</p>
                        </div>
                        <div class="form-group col-md-12 fg">
                            <label for="">College / Institution</label>
                            <p>Not Specified</p>
                        </div>
                        <div class="form-group col-md-12 fg">
                            <label for="">Employed In</label>
                            <p>Private Sector</p>
                        </div>
                        <div class="form-group col-md-12 fg">
                            <label for="">Occupation</label>
                            <p>Software professional</p>
                        </div>
                        <div class="form-group col-md-12 fg">
                            <label for="">Organization</label>
                            <p>Not Specified</p>
                        </div>
                        <div class="form-group col-md-12 fg">
                            <label for="">Annual Income</label>
                            Rs. 3 - 4 Lakhs
                        </div>
                    </div>
                </div>
            </form>
        </div>
   </section>
   <br/>
   <section class="ptpf-abt-family-sec">
        <div class="container ptpf-family-dt-dv ptpfContainer">
                <div class="row ptpf-hd-row">
                    <div class="col-md-10">
                            <h5 class="ptpf-personal-hd">Family Details</h5>
                    </div>
                </div>
            <form class="ptpfBasicDt">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group col-md-12 fg">
                            <label for="">Family Values</label>
                            <p>Moderate</p>
                        </div>
                        <div class="form-group col-md-12 fg">
                            <label for="">Family Type</label>
                            <p>Nuclear</p>
                        </div>
                        <div class="form-group col-md-12 fg">
                            <label for="">Family Status</label>
                            <p>Middle Class</p>
                        </div>
                        <div class="form-group col-md-12 fg">
                            <label for="">Ancestral / Family Origin</label>
                            <p>Not Specified</p>
                        </div>
                        <div class="form-group col-md-12 fg">
                            <label for="">Family Location</label>
                            <p>Chennai, Tamilnadu</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group col-md-12 fg">
                            <label for="">Father's Status</label>
                            <p>Not Specified</p>
                        </div>
                        <div class="form-group col-md-12 fg">
                            <label for="">Mother's Status</label>
                            <p>Not Specified</p>
                        </div>
                    </div>
                </div>
            </form>
        </div>
   </section>
   <br/>
   <section class="ptpf-family-dt-sec">
        <div class="container ptpf-abt-fmly-dv ptpfContainer">
                <div class="row ptpf-hd-row">
                    <div class="col-md-10">
                            <h5 class="ptpf-personal-hd">About My Family</h5>
                    </div>
                </div>
            <form class="ptpfBasicDt">
                <div class="row">
                    <div class="form-group col-md-12">
                       <p>Not Specified</p>
                    </div>
                </div>
            </form>
        </div>
   </section>
   <br/>
   <section class="ptpf-life-style-sec">
        <div class="container ptpf-life-style-dv ptpfContainer">
                <div class="row ptpf-hd-row">
                    <div class="col-md-10">
                            <h5 class="ptpf-personal-hd">Life Style</h5>
                    </div>
                </div>
            <form class="ptpfBasicDt">
                <div class="row">
                    <div class="form-group col-md-12">
                        <p>Not Specified</p>
                    </div>
                </div>
            </form>
        </div>
   </section>
   <br/>

   <div class="container ptpf-personal-head-dv">
        <br/>
        <h5 class="ptpf-personal-head">Profile Matches By Preferences</h5>
    </div>

    <section class="ptpf-prf-img-sec">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="ptpf-my-img-dv">
                        <img src="../../../assets/images/profile/profile-pic.jpg" class="img-fluid ptpf-my-img ptpf-match-img">
                    </div>
                </div>
                <div class="col-md-6 text-center">
                    <div class="ptpf-match-dv">
                        <h4>Your Profile matches <br/> 10 / 15 of <br/> grooms name preferences</h4>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="ptpf-pt-img-dv">
                        <img src="../../../assets/images/profile/profile-pic.jpg" class="img-fluid ptpf-pt-img ptpf-match-img">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <br/>
    <section class="ptpf-pt-basic-dt-sec">
            <div class="container ptpf-basic-dt-dv ptpfMatchContainer">
                
                    <div class="row ptpf-hd-row">
                        <div class="col-md-10">
                                <h5 class="ptpf-personal-hd">Basic Preferences</h5>
                        </div>
                    </div>
                <form class="ptpfBasicDt">
                    <div class="row col-md-8">
                            <div class="form-group col-md-12 fg">
                                <label for="">Groom's Age</label>
                                <p>25 - 29 Yrs</p>
                            </div>
                            <div class="form-group col-md-12 fg">
                                <label for="">Height</label>
                                <p>5 Ft 3 In - 6 Ft 3 In / 160 Cms - 191 Cms</p>
                            </div>
                            <div class="form-group col-md-12 fg">
                                <label for="">Marital Status</label>
                                <p>Never Married</p>
                            </div>
                            <div class="form-group col-md-12 fg">
                                <label for="">Mother Tongue</label>
                                <p>Tamil</p>
                            </div>
                            <div class="form-group col-md-12 fg">
                                <label for="">Physical Status</label>
                                <p>Normal</p>
                            </div>
                            <div class="form-group col-md-12 fg">
                                <label for="">Eating habits</label>
                                <p>Non Vegeterian</p>
                            </div>
                            <div class="form-group col-md-12 fg">
                                <label for="">Smoking habits</label>
                                <p>Prefer someone who never smokes</p>
                            </div>
                            <div class="form-group col-md-12 fg">
                                <label for="">Drinking habits</label>
                                <p>Prefer someone who never smokes</p>
                            </div>
                    </div>                      
                </form>
            </div>
    </section>
    <br/>
    <section class="ptpf-pt-religion-dt-sec">
            <div class="container ptpf-religion-dt-dv ptpfMatchContainer">
                
                    <div class="row ptpf-hd-row">
                        <div class="col-md-10">
                                <h5 class="ptpf-personal-hd">Religious Preferences</h5>
                        </div>
                    </div>
                <form class="ptpfBasicDt">
                    <div class="row col-md-8">
                            <div class="form-group col-md-12 fg">
                                <label for="">Religion</label>
                                <p>Hindu</p>
                            </div>
                            <div class="form-group col-md-12 fg">
                                <label for="">Caste</label>
                                <p>Any Caste</p>
                            </div>
                            <div class="form-group col-md-12 fg">
                                <label for="">Sub Caste</label>
                                <p>Any Sub Caste</p>
                            </div>
                            <div class="form-group col-md-12 fg">
                                <label for="">Gothram</label>
                                <p>All (Except my gothra)</p>
                            </div>
                            <div class="form-group col-md-12 fg">
                                <label for="">Star</label>
                                <p>Any Star</p>
                            </div>
                            <div class="form-group col-md-12 fg">
                                <label for="">Chevvai Dosham</label>
                                <p>No</p>
                            </div>
                    </div>                            
                </form>
            </div>
    </section>
    <br/>
    <section class="ptpf-pt-loc-pref-sec">
            <div class="container ptpf-pt-loc-pref-dv ptpfMatchContainer">
                
                    <div class="row ptpf-hd-row">
                        <div class="col-md-10">
                                <h5 class="ptpf-personal-hd">Groom's Location</h5>
                        </div>
                    </div>
                <form class="ptpfBasicDt">
                    <div class="row col-md-8">
                            <div class="form-group col-md-12 fg">
                                <label for="">Country</label>
                                    <p>India</p>
                            </div>
                            <div class="form-group col-md-12 fg">
                                <label for="">City</label>
                                <p>Chennai</p>
                            </div>
                            <div class="form-group col-md-12 fg">
                                <label for="">State</label>
                                <p>TamilNadu</p>
                            </div>
                            <div class="form-group col-md-12 fg">
                                <label for="">Citizenship</label>
                                <p>District</p>
                            </div>
                    </div>                      
                </form>
            </div>
    </section>
    <br/>
</div>
