$kvm-red:#fc3106;
$kvm-darkRed:#db1d09;
$kvm-green:#0fc755;
$kvm-darkGreen:#07a841;
$kvm-yellow:#ffd404;
$kvm-darkYellow:#ffad00;
$kvm-lightGreen:#d8fedd;
$kvm-white:#ffffff;
$kvm-black:#000000;
$kvm-transparentRed:rgba(219, 30, 9, 0.431);
$kvm-transparentGreen:rgba(7, 168, 66, 0.431);