<div class="container-fluid">
    <div class="kvm-nav-div">
        <div class="kvm-topNavbar">
            <div class="kvm-topNavbar-nav text-right">
                <a href="#" class="nav-item nav-link"><img src="../assets/images/contact-icons/email.svg" class="img-fluid nv-contact-icons-link" alt="Email"> info@kalyanavayasu.com</a>
                <a href="#" class="nav-item nav-link"><img src="../assets/images/contact-icons/call.svg" class="img-fluid nv-contact-icons-link" alt="Phonel"> +91 98765 43210</a>
  
                <a href="#" class="nav-item social-link"><img src="../assets/images/social-icons/facebook-logo.svg" class="img-fluid social-icons-link" alt="Facebook"></a>
                <a href="#" class="nav-item  social-link"><img src="../assets/images/social-icons/instagram-logo.svg" class="img-fluid social-icons-link" alt="Instagram"></a>
                <a href="#" class="nav-item social-link"><img src="../assets/images/social-icons/twitter-logo.svg" class="img-fluid social-icons-link" alt="Twitter"></a>
                <a href="#" class="nav-item  social-link"><img src="../assets/images/social-icons/whatsapp-logo.svg" class="img-fluid social-icons-link" alt="Whatsapp"></a>
            </div>
        </div>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top navbar-kvm">
            <a href="#" class="navbar-brand"><img src="../assets/images/nav-logo.png" class="img-fluid navLogo" alt="kalyana Vayasu Logo"></a>
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#kvNavbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
  
            <div class="collapse navbar-collapse" id="kvNavbarCollapse">
                <div class="navbar-nav ml-auto">
                    <a href="home" class="nav-item nav-link">Home</a>
                    <a href="home#AboutUs" class="nav-item nav-link">About Us</a>
                    <a href="#" class="nav-item nav-link">Our Stories</a>
                    <a href="#" class="nav-item nav-link">Contact</a>
                </div>
            </div>
        </nav>
    </div>
  </div>
  