@import '../styles/global/colors';
.login-sec{
    background-image: url(../../assets/images/login/login-bg.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    .loginBox{
        // padding-bottom: 8.7em;
        // padding-top: 8.8em;
        padding-bottom: 3em;
        padding-top: 3em;
        color: $kvm-white;
        a{
            color: $kvm-darkGreen;
            font-size: 1.1em;
        }
        .loginInnerBox{
            // background-color: rgba(251, 152, 84, 0.64);
            // background:rgba(216, 52, 34, 0.44);
            background: rgba(0, 0, 0, 0.52);
            padding: 10px;
            padding-bottom: 3em;
            border-radius: 15px;
            .login-form-head{
                padding-top: 1.5em;
                padding-bottom: 0.5em;
                text-transform:uppercase;
            }
            .login-form-btn-row{
                margin: 0 auto;
                padding-top: 0.8em;
                .login-form-btn-div{
                    margin:0 auto;
                    background:$kvm-red;
                    border-radius:30px;
                    .login-form-btn{
                        padding: 0.5em 2em;
                        color:$kvm-white;
                        text-transform: uppercase;
                    
                    }
                }
            }
            .login-form-bt-txt-row{
                .login-form-txt-div{
                    margin: 0 auto;
                    .login-form-fp-p, .login-form-rg-p{
                        padding: 0em 2em;
                        margin-bottom: 0em;
                    }
                    // .lg-fp-a{
                    //     border-right:2px solid $kvm-white;
                    //     margin-right: 5px;
                    // }
                }
            }
        }
        .btn:focus {
            outline: none;
            box-shadow: none;
        }
    }   
}
@media screen  and (max-width: 768px) {
    .login-sec{
        background-attachment: scroll;
        background-size: unset;
        .loginBox{
            padding-bottom: 1em;
            padding-top:1em;
            .loginInnerBox{
                .login-form-head{
                    padding-top: 0.5em;
                    font-size: 1.5em;
                }
            }
        }
    }
}