<section class="login-sec comPad">
    <div class="container-fluid login-sec-container">
        <div class="container">
            <div class="row login-row">
                <div class="col-md-3 col-sm-2"></div>
                <div class="col-md-6 col-sm-8 login-col8">
                    <div class="loginBox">
                        <div class="loginInnerBox">
                            <h1 class="text-center login-form-head">Login</h1>
                            <form class="loginForm">
                                <div class="loginForm-dv">
                                    <div class="form-group col-sm-12 ">
                                        <label>E-mail ID / Mobile No.</label>
                                        <div class="input-group input-group-lg center-block">
                                            <input #userNameRef [(ngModel)]="loginUserData.userName" name="userName"  type="text" class="form-control" placeholder="">
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12 ">
                                            <label>Password</label>
                                        <div class="input-group input-group-lg center-block">
                                            <input [(ngModel)]="loginUserData.userPassword" name="userPassword" type="password" class="form-control" placeholder="">
                                        </div>
                                    </div>
                                    <div class="row form-group text-center login-form-btn-row">
                                        <div class="col-sm-8 login-form-btn-div justify-content-center">
                                            <button (click)="userLogin()" type="button" class="btn login-form-btn" [disabled]="progress ? 'disabled': ''">{{ progress ? 'Please Wait...': 'Login'  }}</button>
                                        </div> 
                                    </div>
                                    <div style="position: absolute;">
                                        <p>{{message}}</p>
                                    </div>
                                    <br/>   
                                    <div class="row form-group text-center login-form-bt-txt-row">
                                        <div class="login-form-txt-div">
                                            <p class="login-form-fp-p">
                                                <a [routerLink]= "['/forgot-password']"  class="login-form-bt-txt lg-fp-a text-center">Forgot Password ? </a> 
                                                <!-- <a href="#" class="login-form-bt-txt text-center">Login via OTP </a> -->
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row form-group col-md-12 text-center login-form-bt-txt-row">
                                        <div class="login-form-txt-div justify-content-center">
                                            <p class="login-form-rg-p">New User ? <a [routerLink]="['/home']">Register Here</a></p>                                            
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-2"></div>
            </div>
        </div>
    </div>

</section>


        