<section class="changePwd-sec comPad">
    <div class="container-fluid changePwd-sec-container">
        <div class="container">
            <div class="row changePwd-row">
                <div class="col-md-3 col-sm-2"></div>
                <div class="col-md-6 col-sm-8 changePwd-col8">
                    <div class="changePwdBox">
                        <div class="changePwdInnerBox">
                            <h1 class="text-center changePwd-form-head">Change Password</h1>
                            
                            <form class="changePwdForm">
                                <div class="changePwdForm-dv">
                                    <div class="form-group col-sm-12 ">
                                        <label>New Password</label> 
                                        <div class="input-group input-group-lg center-block">
                                            <input [(ngModel)]="changePassData.newPassword" name="newPassword" type="password" class="form-control" placeholder="New Password">
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-12 ">
                                        <label>Confirm Password</label>
                                        <div class="input-group input-group-lg center-block">
                                            <input type="password" class="form-control" placeholder="Re-type Password" >
                                        </div>
                                    </div>
                                    <div class="row form-group text-center changePwd-form-btn-row">
                                        <div class="col-sm-8 changePwd-form-btn-div justify-content-center">
                                            <button type="button" (click)="changePassword()" class="btn changePwd-form-btn"  [disabled]="progress ? 'disabled': ''">{{ progress ? 'Please Wait...': 'Reset Password'  }}</button>
                                        </div>
                                    </div>
                                    
                                    <div>
                                            <p>{{ message }}</p>
                                        </div>
                                    <br/>   
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-2"></div>
            </div>
        </div>
    </div>
</section>