@import '../styles/global/colors';

.profile-navbar-kvm{
    background: $kvm-red;
    padding: 0.2em 3em;
    // padding-left: 3em;
    // padding-right: 3em;
    .nav-profile-last-link{
        margin-right:3em;
    }
    .nav-profile-pic{
        width: 40px;
        border-radius: 30px;
        border:1px solid rgb(233, 231, 231);
    }
    .nav-link{
        color:$kvm-white;
        text-transform: uppercase;
    }
    li.dropdown:hover > .dropdown-menu {
        display: block;
    }
    
}
@media only screen and (max-width: 768px) {
    .profile-navbar-kvm{
        padding-left: 0.5em;
        padding-right: 0.5em;
        .navLogo{
            width:150px;
        }
        .nav-link{
            padding-left:0.3em !important;
            padding-right:0.3em !important;
            font-size:0.9em;
        }
        .navbar-collapse.collapse.show, .navbar-collapse.collapsing{
            height: 100vh;
        }
    }
    .profile-img-sec{
        #profileCarousel {
            width: auto !important;
        }
        #profileCarousel .carousel-item img{
            height: auto !important;
        }
    }
}
@media only screen and (max-width: 1024px) {
    .profile-navbar-kvm{
        padding-left: 0.5em;
        padding-right: 0.5em;
        .navLogo{
            width:150px;
        }
        .nav-link{
            padding-left:0.4em;
            padding-right:0.4em;
            font-size:0.9em;
        }
        .navbar-collapse.collapse.show, .navbar-collapse.collapsing{
            height: 100vh;
        }
    }
}
@media only screen and (min-width:1440px) and (max-width: 2560px) {
    .profile-navbar-kvm{
        .nav-link{
            padding-left:1.5em;
            padding-right:1.5em;
        }
        
    }
}

.profile-img-sec{
    border:2px solid #d7d7d7;
    #profileCarousel {
        margin: 20px auto;
        width: 400px;
    }
    
    #profileCarousel {
        margin: 20px auto;
        width: 250px;
    }
    #profileCarousel .carousel-item img{
        height: 250px;
        border-radius:5px;
    }
    #profileCarousel .carousel-indicators {
        margin: 10px 0 0;
        overflow: auto;
        position: static;
        text-align: left;
        white-space: nowrap;
        width: 100%;
    }
    #profileCarousel .carousel-indicators li {
        background-color: transparent;
        -webkit-border-radius: 0;
        border-radius: 0;
        display: inline-block;
        height: auto;
        margin: 0 !important;
        width: auto;
    }
    #profileCarousel .carousel-indicators li img {
        display: block;
        opacity: 0.5;
        // width:100px;
        width: 82px;
        height: 70px;
        border-radius: 5px;
    }
    #profileCarousel .carousel-indicators li.active img {
        opacity: 1;
    }
    #profileCarousel .carousel-indicators li:hover img {
        opacity: 0.75;
    }
    #profileCarousel .carousel-outer {
        position: relative;
    }
    .profile-img-row{
        padding: 0.2em 1.5em;
        .profile-img-info{
            padding-left: 2em;
            color: #212529d1;
            .profile-name{
                text-transform: uppercase;
                padding-top: 1em;
                font-weight:600;
                color: $kvm-black;
            }
            .profile-img-detail{
                .pf-age-height{
                    font-weight: 100;
                }
            }
           .preview-profile-dv{
                .preview-profile-icon{
                    width:30px;
                }
               .preview-profile-link{
                   padding: 1em 1.5em;
                   background: $kvm-red;
                   color:$kvm-white;
                   border-radius: 30px;
               }
               .preview-profile-link:hover{
                    text-decoration-line: none;
               }
           }
           .pf-comp-head{
                text-transform: uppercase;
                color: $kvm-black;   
            }
            .pf-progress-row{
                .pf-progress{
                    height: 2.5rem;
                    background: $kvm-lightGreen;
                    border-radius: 0px 30px 30px 0px;
                    .pf-progress-bar{
                        background: $kvm-darkGreen;
                        border-radius: 0px 30px 30px 0px;
                    }
                }
                .pf-percentage{
                    font-weight: 600;
                    color:$kvm-black;
                }
            }
            
        }
    }
   
}


