<nav class="navbar navbar-expand-md navbar-dark fixed-top profile-navbar-kvm">
    <a href="#" class="navbar-brand"><img src="../assets/images/nav-profile-logo.png" class="img-fluid navLogo" alt="kalyana Vayasu Logo"></a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#kvNavbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="kvNavbarCollapse">
        <div class="navbar-nav ml-auto">
            <a [routerLink]="['/profile-home']" class="nav-item nav-link">Home</a>
            <!-- <a href="#" class="nav-item nav-link">New Matches</a> -->
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                New Matches
              </a>
              <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                <li><a class="dropdown-item" href="#">New Matches</a></li>
                <li><a class="dropdown-item" href="#">Yet to be viewed</a></li>
              </ul>
            </li>
            <a href="#" class="nav-item nav-link">My Matches</a>
            <a href="#" class="nav-item nav-link">Services</a>
            <a href="#" class="nav-item nav-link">Upgrade</a>
            <a href="#" class="nav-item nav-link nav-profile-last-link">Help</a>
            <!-- <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  New Matches <span class="caret"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                  <li><a class="dropdown-item" href="#">New Matches</a></li>
                  <li><a class="dropdown-item" href="#">Yet to be viewed</a></li>
                </ul>
            </li> -->
            <img src="../../assets/images/profile.png" class="img-fluid nav-profile-pic" (click)="_authService.logoutUser()">
        </div>
    </div>
</nav>

