<section class="pf-pic-upload-sec">
    <div class="container">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <form class="pfPicUploadForm">
                    <h3 class="pfUplHead">Add your photo and get much better
                            responses!</h3>
                    <div class="row">
                        <div class="col-md-12 pfpic-btn-dv">
                            <button class="btn pfpic-upl-btn" (click)="fileInput.click()">Add Photos Now</button>
                            <br/>
                            <p>{{pfUploadMsg}}</p>
                            <input style="display: none"  #attachments type="file" (change)="onFileChanged($event)" #fileInput multiple="true">
                        </div>
                        <div class="row col-md-12 pf-preview-dv">
                            <div class="col-md-3 pfupl-pic" *ngFor="let selected of listOfFiles;let index = index"  >
                                <div class="text-right set-pfpic-icon-dv">
                                    <i class="fa fa-remove" (click)="removeSelectedFile(index)"></i>
                                </div>
                                <img [src]="selected" class="img-fluid pf-preview-img" ><br/> 
                                <p class="text-center" class="set-pfpic-p"><a class="set-pfpic-a" (click)="setSelectedFile(index)">Set as profile picture</a></p>   
                            </div>
                        </div>
                        <div class="row col-md-12 pf-preview-dv" *ngIf="!pfPic">
                                <div class="col-md-3 pfupl-pic" > 
                                        <div class="text-right set-pfpic-icon-dv">
                                                <i class="fa fa-remove" (click)="removeSelectedFile(index)"></i>
                                            </div>
                                    <img src="../../../../assets/images/profile/dummy-gallery.svg" class="img-fluid pf-preview-img"  ><br/> 
                                    <!-- <img src="{{  profileBaseUrl + profileImage.pp_path }}" class="img-fluid pf-preview-img"  ><br/>  -->
                                    <p class="text-center" class="set-pfpic-p"><a class="set-pfpic-a">Set Your Profile Picture</a></p>   
                                </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="pfUplSave-dv">
                            <button type="submit" (click)="uploadProfilePhotos()" class="btn btn-md pfUplSave-btn">Upload and Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>