@import '../../../styles/global/colors';

.pf-pic-upload-sec{
    padding-top: 2em;
    padding-bottom: 2em;
    background: $kvm-lightGreen;
    .pfPicUploadForm{
        background:$kvm-white;
        padding: 1.8em 0.5em;
        // height:49vh;
    }
    .pfpic-btn-dv{
        margin: auto;
        text-align: center;
        margin-bottom: 0.5em;
        padding-top:1em;
        padding-bottom: 1em;
        .pfpic-upl-btn{
            background:$kvm-red;
            border-radius: 5px;
            padding: 0.5em;
            color:$kvm-white;
            font-size:1.1em;
        }
    }
    .pfUplHead{
        color:$kvm-green;
        margin: auto;
        text-align: center;
        padding-top: 0.5em;
    }
    .pf-preview-dv{
        margin: auto;
        text-align: center;
        .pf-preview-img{
            display: inline-block;
            width:196px;
            height:200px;
        }
        .pfupl-pic{
            display: inline-block;
        }
        .set-pfpic-icon-dv{
            i{
                color:$kvm-red;
            }
        }
        .set-pfpic-p{
            text-align: center;
            color: $kvm-white;
            background: $kvm-green;
        }
        .set-pfpic-a{
            cursor: pointer;
            padding: 0.5em;
        }
    }
    .pfUplSave-dv{
        margin: auto;
        text-align: center;
        margin-bottom: 0.5em;
        padding-top:1em;
        padding-bottom: 1em;
        .pfUplSave-btn{
            background:$kvm-green;
            border-radius: 5px;
            padding: 0.4em 0.5em;
            color:$kvm-white;
            font-size:1.1em;
        }
    }
}




.avatar-upload {
    position: relative;
    max-width: 205px;
    margin: 50px auto;
    .avatar-edit {
        position: absolute;
        right: 12px;
        z-index: 1;
        top: 10px;
        input {
            display: none;
            + label {
                display: inline-block;
                width: 34px;
                height: 34px;
                margin-bottom: 0;
                border-radius: 100%;
                background: #FFFFFF;
                border: 1px solid transparent;
                box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
                cursor: pointer;
                font-weight: normal;
                transition: all .2s ease-in-out;
                &:hover {
                    background: #f1f1f1;
                    border-color: #d6d6d6;
                }
                &:after {
                    content: "\f040";
                    font-family: 'FontAwesome';
                    color: #757575;
                    position: absolute;
                    top: 10px;
                    left: 0;
                    right: 0;
                    text-align: center;
                    margin: auto;
                }
            }
        }
    }
    .avatar-preview {
        width: 192px;
        height: 192px;
        position: relative;
        border-radius: 100%;
        border: 6px solid #F8F8F8;
        box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
        > div {
            width: 100%;
            height: 100%;
            border-radius: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
    }
}

@media screen and (max-width:600px){
    .pf-pic-upload-sec{
        .pf-preview-dv{
            .pf-preview-img{
                width:166px !important;
                height:166px !important;
            }
            .set-pfpic-p{
                text-align: center;
                color: $kvm-white;
                background: unset !important;
            }
            .set-pfpic-a{
                cursor: pointer;
                padding: 0.5em 1.5em;
                background: $kvm-green;
            }
        }
    }
}

@media screen and (max-width:768px){
    .pf-pic-upload-sec{
        .pf-preview-dv{
            .pf-preview-img{
                width:auto;
                height:auto;
            }
            .set-pfpic-p{
                text-align: center;
                color: $kvm-white;
                background: $kvm-green;
            }
            .set-pfpic-a{
                cursor: pointer;
                padding: 0.5em;
            }
        }
    }
}