<section class="match-pf-list-sec secPadTp">
    <div class="container-fluid">
        <div class="row match-pf-list-row">
            <div class="col-md-3 col-sm-12 match-pf-lt-col">
                <h5 class="text-center match-hd">Your Profile</h5>
                <div class="match-li-my-pf-dv">
                    <div class="match-li-my-pf-img-dv">
                        <div class="row">
                            <!-- <div class="col-md-4 match-li-my-pf-lt-img-dv">
                                <img src="../../../assets/images/profile/profile-pic.jpg" class="img-fluid match-li-my-pf-img">
                                <a href="#" class="profileImgEdit"><i class="fa fa-camera-retro"></i></a>
                            </div>
                            <div class="col-md-6 match-li-my-pf-dt-dv">
                                <h5 class="match-li-my-pf-name">Sri Kumar <a href="#" class="match-li-pf-edit-link"><i class="fa fa-pencil"></i></a></h5>
                                <h6>KVM0001</h6>
                            </div> -->
                            <div class="card">
                                <div class="row no-gutters">
                                    <div class="col-md-4 match-li-my-pf-lt-img-dv">
                                        <img src="../../../assets/images/profile/profile-pic.jpg" class="img-fluid match-li-my-pf-img" alt="">
                                    </div>
                                    <div class="col-md-8 match-li-my-pf-dt-dv">
                                        <div class="card-block px-2">
                                            <h5 class="match-li-my-pf-name">Sri Kumar <a [routerLink]="['/profile-edit', pId]" class="match-li-pf-edit-link"><i class="fa fa-pencil" ></i></a></h5>
                                            <h6>KVM0001</h6>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="match-pf-dt-dv w-100">
                                    <h4 class="match-pf-li-pt-name">Name</h4>
                                    <p><span>Female</span> <span>26yrs</span> <span>Hindhu</span> <span>Caste</span> <span>Chennai</span></p>
                                    <p><span>location</span><span>Software Professional</span></p>
                                </div> -->
                            </div>    
                        </div>
                    </div>
                    <div class="row match-li-pf-edit-dv">
                        <div class="col-md-2"></div>
                        <div class="col-md-8 match-li-pf-edit-links-col8">
                            <h5><a href="#" class="match-li-pf-edit-link"> Edit Your Profile  <i class="fa fa-pencil"></i></a></h5>
                            <h5><a href="#" class="match-li-pf-edit-link"> Edit Partner Preferences  <i class="fa fa-pencil"></i></a></h5>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                </div>
                <br/>
                <h5 class="text-center match-hd">Explore Matches</h5>
                <div class="match-li-search-dv">
                    <form class="matchSearchForm">
                        <div class="form-group">
                            <label for="">Age</label>
                            <br/>
                            <div class="search-form-inline">
                                    From<input type="text" class="form-control search-age-inline">To<input type="text" class="form-control search-age-inline">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="">Religion</label>
                            <select class="form-control">
                                <option value="">Hindu</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="">Caste</label>
                            <select class="form-control">
                                <option value="">Nadar</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="">Mother Tongue</label>
                            <select class="form-control">
                                <option value="">Tamil</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="">Marital Status</label>
                            <select class="form-control">
                                <option value="">Never Married</option>
                            </select>
                        </div>
                        <div class="match-search-btn-dv">
                            <button type="submit" class="btn match-search-btn">Search</button>
                        </div>
                        <br/>
                        <div class="match-more-search-dv">
                            <a href="#" class="match-more-search-link">More Search options</a>
                        </div>
                    </form>
                </div>
                <br/>
            </div>
            <div class="col-md-9 col-sm-12 match-pf-rt-col">
                <h5 class="text-center match-hd">Recently Updated Profiles</h5>
                <div class="match-li-pf-dv">
                    <div class="match-li-pf-cols-dv">
                        <div class="row match-li-pf-cols-row">
                            <div class="col-md-4 match-li-pf-col4">
                                <div class="card">
                                    <div class="row no-gutters">
                                        <div class="col-md-4 match-pf-col4-img-dv">
                                            <img src="../../../assets/images/profile/profile-pic.jpg" class="img-fluid match-li-pt-pf-img" alt="">
                                        </div>
                                        <div class="col-md-8 match-pf-col4-ct-dv">
                                            <div class="card-block px-2">
                                                <h5><a [routerLink]="['/partner-profile']" class="match-view-pf clrGreen"><img src="../../../assets/images/profile/eye.svg" class="img-fluid match-pf-icon">View Profile</a></h5>
                                                <h5><a href="#" class="match-send-interest clrRed"><img src="../../../assets/images/profile/heart.svg" class="img-fluid match-pf-icon">Send Interest</a></h5>
                                                <h5><a href="#" class="match-shortlist clrGreen"><img src="../../../assets/images/profile/add.svg" class="img-fluid match-pf-icon">Shortlist</a></h5>
                                                <!-- <a href="#" class="btn btn-primary">BUTTON</a> -->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="match-pf-dt-dv w-100">
                                        <h4 class="match-pf-li-pt-name">Name</h4>
                                        <p><span>Female</span> <span>26yrs</span> <span>Hindhu</span> <span>Caste</span> <span>Chennai</span></p>
                                        <p><span>location</span><span>Software Professional</span></p>
                                    </div>
                                </div>      
                            </div>
                            <div class="col-md-4 match-li-pf-col4">
                                <div class="card">
                                    <div class="row no-gutters">
                                        <div class="col-md-4 match-pf-col4-img-dv">
                                            <img src="../../../assets/images/profile/profile-pic.jpg" class="img-fluid match-li-pt-pf-img" alt="">
                                        </div>
                                        <div class="col-md-8 match-pf-col4-ct-dv">
                                            <div class="card-block px-2">
                                                <h5><a [routerLink]="['/partner-profile']" class="match-view-pf clrGreen"><img src="../../../assets/images/profile/eye.svg" class="img-fluid match-pf-icon">View Profile</a></h5>
                                                <h5><a href="#" class="match-send-interest clrRed"><img src="../../../assets/images/profile/heart.svg" class="img-fluid match-pf-icon">Send Interest</a></h5>
                                                <h5><a href="#" class="match-shortlist clrGreen"><img src="../../../assets/images/profile/add.svg" class="img-fluid match-pf-icon">Shortlist</a></h5>
                                                <!-- <a href="#" class="btn btn-primary">BUTTON</a> -->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="match-pf-dt-dv w-100">
                                        <h4 class="match-pf-li-pt-name">Name</h4>
                                        <p><span>Female</span> <span>26yrs</span> <span>Hindhu</span> <span>Caste</span> <span>Chennai</span></p>
                                        <p><span>location</span><span>Software Professional</span></p>
                                    </div>
                                </div>      
                            </div>
                            <div class="col-md-4 match-li-pf-col4">
                                <div class="card">
                                    <div class="row no-gutters">
                                        <div class="col-md-4 match-pf-col4-img-dv">
                                            <img src="../../../assets/images/profile/profile-pic.jpg" class="img-fluid match-li-pt-pf-img" alt="">
                                        </div>
                                        <div class="col-md-8 match-pf-col4-ct-dv">
                                            <div class="card-block px-2">
                                                <h5><a [routerLink]="['/partner-profile']" class="match-view-pf clrGreen"><img src="../../../assets/images/profile/eye.svg" class="img-fluid match-pf-icon">View Profile</a></h5>
                                                <h5><a href="#" class="match-send-interest clrRed"><img src="../../../assets/images/profile/heart.svg" class="img-fluid match-pf-icon">Send Interest</a></h5>
                                                <h5><a href="#" class="match-shortlist clrGreen"><img src="../../../assets/images/profile/add.svg" class="img-fluid match-pf-icon">Shortlist</a></h5>
                                                <!-- <a href="#" class="btn btn-primary">BUTTON</a> -->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="match-pf-dt-dv w-100">
                                        <h4 class="match-pf-li-pt-name">Name</h4>
                                        <p><span>Female</span> <span>26yrs</span> <span>Hindhu</span> <span>Caste</span> <span>Chennai</span></p>
                                        <p><span>location</span><span>Software Professional</span></p>
                                    </div>
                                </div>      
                            </div>
                            <div class="col-md-4 match-li-pf-col4">
                                <div class="card">
                                    <div class="row no-gutters">
                                        <div class="col-md-4 match-pf-col4-img-dv">
                                            <img src="../../../assets/images/profile/profile-pic.jpg" class="img-fluid match-li-pt-pf-img" alt="">
                                        </div>
                                        <div class="col-md-8 match-pf-col4-ct-dv">
                                            <div class="card-block px-2">
                                                <h5><a [routerLink]="['/partner-profile']" class="match-view-pf clrGreen"><img src="../../../assets/images/profile/eye.svg" class="img-fluid match-pf-icon">View Profile</a></h5>
                                                <h5><a href="#" class="match-send-interest clrRed"><img src="../../../assets/images/profile/heart.svg" class="img-fluid match-pf-icon">Send Interest</a></h5>
                                                <h5><a href="#" class="match-shortlist clrGreen"><img src="../../../assets/images/profile/add.svg" class="img-fluid match-pf-icon">Shortlist</a></h5>
                                                <!-- <a href="#" class="btn btn-primary">BUTTON</a> -->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="match-pf-dt-dv w-100">
                                        <h4 class="match-pf-li-pt-name">Name</h4>
                                        <p><span>Female</span> <span>26yrs</span> <span>Hindhu</span> <span>Caste</span> <span>Chennai</span></p>
                                        <p><span>location</span><span>Software Professional</span></p>
                                    </div>
                                </div>      
                            </div>
                            <div class="col-md-4 match-li-pf-col4">
                                <div class="card">
                                    <div class="row no-gutters">
                                        <div class="col-md-4 match-pf-col4-img-dv">
                                            <img src="../../../assets/images/profile/profile-pic.jpg" class="img-fluid match-li-pt-pf-img" alt="">
                                        </div>
                                        <div class="col-md-8 match-pf-col4-ct-dv">
                                            <div class="card-block px-2">
                                                <h5><a [routerLink]="['/partner-profile']" class="match-view-pf clrGreen"><img src="../../../assets/images/profile/eye.svg" class="img-fluid match-pf-icon">View Profile</a></h5>
                                                <h5><a href="#" class="match-send-interest clrRed"><img src="../../../assets/images/profile/heart.svg" class="img-fluid match-pf-icon">Send Interest</a></h5>
                                                <h5><a href="#" class="match-shortlist clrGreen"><img src="../../../assets/images/profile/add.svg" class="img-fluid match-pf-icon">Shortlist</a></h5>
                                                <!-- <a href="#" class="btn btn-primary">BUTTON</a> -->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="match-pf-dt-dv w-100">
                                        <h4 class="match-pf-li-pt-name">Name</h4>
                                        <p><span>Female</span> <span>26yrs</span> <span>Hindhu</span> <span>Caste</span> <span>Chennai</span></p>
                                        <p><span>location</span><span>Software Professional</span></p>
                                    </div>
                                </div>      
                            </div>
                            <div class="col-md-4 match-li-pf-col4">
                                <div class="card">
                                    <div class="row no-gutters">
                                        <div class="col-md-4 match-pf-col4-img-dv">
                                            <img src="../../../assets/images/profile/profile-pic.jpg" class="img-fluid match-li-pt-pf-img" alt="">
                                        </div>
                                        <div class="col-md-8 match-pf-col4-ct-dv">
                                            <div class="card-block px-2">
                                                <h5><a [routerLink]="['/partner-profile']" class="match-view-pf clrGreen"><img src="../../../assets/images/profile/eye.svg" class="img-fluid match-pf-icon">View Profile</a></h5>
                                                <h5><a href="#" class="match-send-interest clrRed"><img src="../../../assets/images/profile/heart.svg" class="img-fluid match-pf-icon">Send Interest</a></h5>
                                                <h5><a href="#" class="match-shortlist clrGreen"><img src="../../../assets/images/profile/add.svg" class="img-fluid match-pf-icon">Shortlist</a></h5>
                                                <!-- <a href="#" class="btn btn-primary">BUTTON</a> -->
                                            </div>
                                        </div>
                                    </div>
                                    <div class="match-pf-dt-dv w-100">
                                        <h4 class="match-pf-li-pt-name">Name</h4>
                                        <p><span>Female</span> <span>26yrs</span> <span>Hindhu</span> <span>Caste</span> <span>Chennai</span></p>
                                        <p><span>location</span><span>Software Professional</span></p>
                                    </div>
                                </div>      
                            </div>
                                
                        </div>
                        <!-- <div class="row match-li-pf-cols-row">
                            <div class="col-md-4 match-li-pf-col4">
                                <div class="card">
                                    <div class="row no-gutters">
                                        <div class="col-md-4 match-pf-col4-img-dv">
                                            <img src="../../../assets/images/profile/profile-pic.jpg" class="img-fluid match-li-pt-pf-img" alt="">
                                        </div>
                                        <div class="col-md-8 match-pf-col4-ct-dv">
                                            <div class="card-block px-2">
                                                <h5><a href="#" class="match-view-pf clrGreen"><img src="../../../assets/images/profile/eye.svg" class="img-fluid match-pf-icon">View Profile</a></h5>
                                                <h5><a href="#" class="match-send-interest clrRed"><img src="../../../assets/images/profile/heart.svg" class="img-fluid match-pf-icon">Send Interest</a></h5>
                                                <h5><a href="#" class="match-shortlist clrGreen"><img src="../../../assets/images/profile/add.svg" class="img-fluid match-pf-icon">Shortlist</a></h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="match-pf-dt-dv w-100">
                                        <h4 class="match-pf-li-pt-name">Name</h4>
                                        <p><span>Female</span> <span>26yrs</span> <span>Hindhu</span> <span>Caste</span> <span>Chennai</span></p>
                                        <p><span>location</span><span>Software Professional</span></p>
                                    </div>
                                </div>      
                            </div>
                            <div class="col-md-4 match-li-pf-col4">
                                <div class="card">
                                    <div class="row no-gutters">
                                        <div class="col-md-4 match-pf-col4-img-dv">
                                            <img src="../../../assets/images/profile/profile-pic.jpg" class="img-fluid match-li-pt-pf-img" alt="">
                                        </div>
                                        <div class="col-md-8 match-pf-col4-ct-dv">
                                            <div class="card-block px-2">
                                                <h5><a href="#" class="match-view-pf clrGreen"><img src="../../../assets/images/profile/eye.svg" class="img-fluid match-pf-icon">View Profile</a></h5>
                                                <h5><a href="#" class="match-send-interest clrRed"><img src="../../../assets/images/profile/heart.svg" class="img-fluid match-pf-icon">Send Interest</a></h5>
                                                <h5><a href="#" class="match-shortlist clrGreen"><img src="../../../assets/images/profile/add.svg" class="img-fluid match-pf-icon">Shortlist</a></h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="match-pf-dt-dv w-100">
                                        <h4 class="match-pf-li-pt-name">Name</h4>
                                        <p><span>Female</span> <span>26yrs</span> <span>Hindhu</span> <span>Caste</span> <span>Chennai</span></p>
                                        <p><span>location</span><span>Software Professional</span></p>
                                    </div>
                                </div>      
                            </div>
                            <div class="col-md-4 match-li-pf-col4">
                                <div class="card">
                                    <div class="row no-gutters">
                                        <div class="col-md-4 match-pf-col4-img-dv">
                                            <img src="../../../assets/images/profile/profile-pic.jpg" class="img-fluid match-li-pt-pf-img" alt="">
                                        </div>
                                        <div class="col-md-8 match-pf-col4-ct-dv">
                                            <div class="card-block px-2">
                                                <h5><a href="#" class="match-view-pf clrGreen"><img src="../../../assets/images/profile/eye.svg" class="img-fluid match-pf-icon">View Profile</a></h5>
                                                <h5><a href="#" class="match-send-interest clrRed"><img src="../../../assets/images/profile/heart.svg" class="img-fluid match-pf-icon">Send Interest</a></h5>
                                                <h5><a href="#" class="match-shortlist clrGreen"><img src="../../../assets/images/profile/add.svg" class="img-fluid match-pf-icon">Shortlist</a></h5>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="match-pf-dt-dv w-100">
                                        <h4 class="match-pf-li-pt-name">Name</h4>
                                        <p><span>Female</span> <span>26yrs</span> <span>Hindhu</span> <span>Caste</span> <span>Chennai</span></p>
                                        <p><span>location</span><span>Software Professional</span></p>
                                    </div>
                                </div>      
                            </div>
                        </div> -->
                        <div class="match-li-view-all-btn-dv">
                            <button type="submit" class="btn match-li-view-all-btn">View All</button>
                        </div>
                    </div>
                </div>
                <br/>
                <h5 class="text-center match-hd titlePad">People Who Viewed You</h5>
                <div class="match-li-pf-who-viewed-you-dv">
                    <div class="row match-li-pf-who-viewed-you-row">
                        <div class="col-md-3">
                            <div class="match-li-pf-who-viewed-you-img-dv text-center">
                                <img src="../../../assets/images/profile/profile-pic.jpg" class="img-fluid mli-pf-who-vw-img">
                                <h5 class="mli-pf-who-vw-name">praseen orchi</h5>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="match-li-pf-who-viewed-you-img-dv text-center">
                                <img src="../../../assets/images/profile/profile-pic.jpg" class="img-fluid mli-pf-who-vw-img">
                                <h5 class="mli-pf-who-vw-name">praseen orchi</h5>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="match-li-pf-who-viewed-you-img-dv text-center">
                                <img src="../../../assets/images/profile/profile-pic.jpg" class="img-fluid mli-pf-who-vw-img">
                                <h5 class="mli-pf-who-vw-name">praseen orchi</h5>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="match-li-pf-who-viewed-you-img-dv text-center">
                                <img src="../../../assets/images/profile/profile-pic.jpg" class="img-fluid mli-pf-who-vw-img">
                                <h5 class="mli-pf-who-vw-name">praseen orchi</h5>
                            </div>
                        </div>
                    </div>
                    <div class="match-li-ppl-view-all-btn-dv">
                        <button type="submit" class="btn match-li-ppl-view-all-btn">View All</button>
                    </div>
                </div>
                <br/>
                <h5 class="text-center match-hd titlePad">Explore matches by Preferences</h5>
                <div class="explore-matches-dv">
                    <div class="row explore-matches-row">
                        <div class="col-md-3 explore-matches-img-col3 text-center">
                            <div class="explore-matches-img-dv">
                                <img src="../../../assets/images/explore-matches/location.svg" class="img-fluid explore-matches-img">
                            </div>
                            <h4 class="explore-matches-titile">Location</h4>
       
                        </div>
                        <div class="col-md-3 explore-matches-img-col3 text-center">
                            <div class="explore-matches-img-dv">
                                <img src="../../../assets/images/explore-matches/education.svg" class="img-fluid explore-matches-img">
                            </div>
                            <h4 class="explore-matches-titile">Education</h4>
      
                        </div>
                        <div class="col-md-3 explore-matches-img-col3 text-center">
                            <div class="explore-matches-img-dv">
                                <img src="../../../assets/images/explore-matches/profession.svg" class="img-fluid explore-matches-img">
                            </div>
                            <h4 class="explore-matches-titile">Profession</h4>
     
                        </div>
                        <div class="col-md-3 explore-matches-img-col3 text-center">
                            <div class="explore-matches-img-dv">
                                <img src="../../../assets/images/explore-matches/compatible-star.svg" class="img-fluid explore-matches-img">
                            </div>
                            <h4 class="explore-matches-titile">Compatible Stars</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<br/>
<app-footer></app-footer>