@import '../../../styles/global/colors';

.match-pf-list-sec{
    padding-left: 1.5em;
    padding-right: 1.5em;
    .match-hd{
        text-transform: uppercase;
        padding-bottom: 0.5em;
        font-weight:600;
    }
    .titlePad{
        padding-top: 1em;
    }
    .clrGreen{
        color:$kvm-green;
    }
    .clrRed{
        color:$kvm-darkRed;
    }
    .match-pf-lt-col{
        .match-li-my-pf-dv{
            border:2px solid #d7d7d7;
            .match-li-my-pf-img-dv{
                padding: 0.5em;
                border-bottom: 1px solid #d7d7d7;
                margin: 1em;
                .card{
                    border:0px;
                }
                .match-li-my-pf-lt-img-dv {
                    position: relative;
                    .match-li-my-pf-img {
                        border-radius: 50%;
                    }
                    .profileImgEdit {
                        z-index: 2;
                        position: absolute;
                        right: 15%;
                        bottom: 7%;
                        margin: auto;
                        background: #b9b6b6;
                        border-radius: 30px;
                        padding: 0.2em 0.4em 0.1em 0.4em;
                        color: $kvm-black;
                    }
                }
                .match-li-my-pf-dt-dv{
                    .match-li-my-pf-name{
                        text-transform: uppercase;
                        padding-top: 2em;
                    }
                }
                
            }
            .match-li-pf-edit-dv{
                padding: 1.5em 0em;
            }
            .match-li-pf-edit-links-col8{
                padding-left:2em;
            }
            .match-li-pf-edit-link{
                color:#545454;
                i{
                    margin-left: 0.2em;
                }
            }
            .match-li-pf-edit-link:hover{
                text-decoration-line: none;
            }
        }
        .match-li-search-dv{
            border:2px solid #d7d7d7;
            padding: 0.5em;
            .matchSearchForm{
                .search-form-inline{
                    display: inline-flex;
                    .search-age-inline{
                        width:50%;
                    }
                }
                .form-control{
                    background:#efefef;
                }
                .match-search-btn-dv{
                    margin:0 auto;
                    text-align: center;
                    .match-search-btn{
                        background:$kvm-green;
                        color:$kvm-white;
                        padding: 0.5em 3em;
                        border-radius: 30px;
                        text-transform: uppercase;
                    }
                }
                .match-more-search-dv{
                    margin:0 auto;
                    text-align: center;
                    .match-more-search-link{
                        color: $kvm-red;
                        text-transform: uppercase;
                        text-decoration-line: underline;
                        font-size: 0.9em;
                    }
                }
            }
        }
    }
    .match-pf-rt-col{
        .match-li-pf-dv{
            .match-li-pf-cols-dv{
                .match-li-pf-cols-row{
                    .match-li-pf-col4{
                        margin-bottom: 1.5em;
                        .card{
                            padding: 0.5em 1em;
                            border:1px solid $kvm-yellow;
                        }
                        .match-pf-col4-img-dv{
                            img{
                                border-radius:50%;
                            }
                        }
                        .match-pf-col4-ct-dv{
                            padding-top: 0.5em;
                            .match-pf-icon{
                                width:30px;
                                margin-right: 0.5em;
                            }
                        }
                        .match-pf-dt-dv{
                            color:$kvm-black; 
                            .match-pf-li-pt-name{   
                                text-transform: uppercase;
                                font-size: 1.2em;
                                padding-top: 0.5em;
                            }
                            p{
                                span{
                                    margin-right:1em;
                                }
                            }
                        }
                    }
                }
                .match-li-view-all-btn-dv{
                    margin:0 auto;
                    text-align: center;
                    .match-li-view-all-btn{
                        background: $kvm-red;
                        padding: 0.5em 1.5em;
                        border-radius:10px;
                        text-transform: uppercase;
                        color: $kvm-white;
                    }
                }
            }
        }
        .match-li-pf-who-viewed-you-dv{
            .match-li-pf-who-viewed-you-row{
                padding:0.7em 2em;
                .match-li-pf-who-viewed-you-img-dv{
                    padding: 0.5em;
                    .mli-pf-who-vw-img{
                        border-radius: 50%;
                        border:1px solid #eee;
                    }   
                    .mli-pf-who-vw-name{
                        text-transform: uppercase;
                        padding-top: 0.8em;
                        font-size:1.1em;
                    }
                }
            }
            .match-li-ppl-view-all-btn-dv{
                margin:0 auto;
                text-align: center;
                .match-li-ppl-view-all-btn{
                    background: $kvm-green;
                    padding: 0.5em 1.5em;
                    border-radius:10px;
                    text-transform: uppercase;
                    color: $kvm-white;
                }
            }
        }
        .explore-matches-dv{
            .explore-matches-row{
                .explore-matches-img-col3{
                    .explore-matches-img-dv{
                        padding: 0.5em;
                        border: 2px solid #d7d7d7;
                        margin: 2.3em;
                        .explore-matches-img{
                            width: 115px;
                            margin: 1em;
                            padding:1em;
                        }
                    }
                    .explore-matches-titile{
                        text-transform: uppercase;
                        font-size:1.1em;
                        font-weight: 600;
                    }
                }
            }
        }
    }
    
}

@media screen and (min-width:388px) and (max-width:600px){
    .match-pf-lt-col{
        .match-li-my-pf-dv{
            .match-li-my-pf-img-dv{
                .profileImgEdit {
                    z-index: 2;
                    position: absolute;
                    right: 15%;
                    bottom: 7%;
                    margin: auto;
                    background: #b9b6b6;
                    border-radius: 30px;
                    padding: 0.2em 0.4em 0.1em 0.4em;
                    color: $kvm-black;
                }
            }
        }
        .match-li-pf-edit-links-col8{
            padding-left:0em;
        }
    }
    
}
@media only screen and (min-width:768px) and (max-width:1440px){
    .match-pf-list-sec{
        .match-pf-lt-col{
            .match-li-my-pf-dv{
                .match-li-my-pf-img-dv{
                    padding: 0.5em;
                    border-bottom: 1px solid #d7d7d7;
                    margin: 1em;
                    .card{
                        border:0px;
                    }
                    .match-li-my-pf-lt-img-dv {
                        position: relative;
                        flex: 0 0 100% !important;
                        max-width:100% !important;
                        .match-li-my-pf-img {
                            border-radius: 50%;
                        }
                        .profileImgEdit {
                            z-index: 2;
                            position: absolute;
                            right: 15%;
                            bottom: 7%;
                            margin: auto;
                            background: #b9b6b6;
                            border-radius: 30px;
                            padding: 0.2em 0.4em 0.1em 0.4em;
                            color: $kvm-black;
                        }
                    }
                    .match-li-my-pf-dt-dv{
                        flex: 0 0 100% !important;
                        max-width:100% !important;
                        padding-top: 0.4em;
                        .match-li-my-pf-name{
                            text-transform: uppercase;
                            padding-top: 0em !important;
                        }
                    }
                }
            }
            .match-li-pf-edit-dv{
                .match-li-pf-edit-links-col8{
                    padding-left: 0em;
                }
            }
            .match-search-btn-dv{
                .match-search-btn{
                    padding: 0.3em 1.5em !important;
                }
            }
        }
        
        .match-pf-rt-col{
            .match-li-pf-dv{
                .match-li-pf-cols-dv{
                    .match-li-pf-cols-row{
                        .match-li-pf-col4{
                            flex: 1 0 33.333333% !important;
                            max-width:50% !important;
                            .match-pf-col4-ct-dv{
                                .match-pf-icon{
                                    width: 20px;
                                }
                            } 
                            .match-pf-dt-dv{
                                font-size:0.9rem;
                            }
                        }
                    }
                }
            }
            
        }
        .match-li-pf-who-viewed-you-dv{
            .match-li-pf-who-viewed-you-row{
                .match-li-pf-who-viewed-you-img-dv{
                    .mli-pf-who-vw-name{
                        font-size:0.8em !important;
                    }
                }
            }
        }
        .explore-matches-dv{
            .explore-matches-row{
                .explore-matches-img-col3{
                    .explore-matches-img-dv{
                        margin:0em !important;
                        .explore-matches-img{
                            margin:0em !important;
                        }
                    }
                    .explore-matches-titile{
                        font-size: 0.7em !important;
                        padding-top: 0.5em !important;
                    }
                }
            }
        }
    }
}
@media screen and (max-width:1605px){
    .match-pf-list-sec{
        h5{
            font-size:0.9rem;
        }
    }
}