
<div *ngIf="!_authService.loggedIn()" >
    <app-navbar ></app-navbar>
</div>
<div *ngIf="_authService.loggedIn()" >
    <app-navbar-profile></app-navbar-profile>
</div>

<router-outlet></router-outlet>

<app-footer></app-footer>