<section class="forgot-sec comPad">
    <div class="container-fluid forgot-sec-container">
        <div class="container">
            <div class="row forgot-row">
                <div class="col-md-3 col-sm-2"></div>
                <div class="col-md-6 col-sm-8 forgot-col8">
                    <div class="forgotBox">
                        <div class="forgotInnerBox">
                            <h1 class="text-center forgot-form-head">Forgot Password</h1>
                            
                            <form class="forgotForm">
                                <div class="forgotForm-dv">
                                    <div class="form-group col-sm-12 ">
                                            <p>Enter your Registered Mobile No/ Registered Email ID and we will send you a link and PIN to reset your password.</p>
                                        <label>E-mail ID / Mobile No.</label>
                                        <div class="input-group input-group-lg center-block">
                                            <input [(ngModel)]="forgotPassData.userName" name="userName" type="text" class="form-control" placeholder="E-mail ID / Mobile No">
                                        </div>
                                    </div>
                                    <div class="row form-group text-center forgot-form-btn-row">
                                        <div class="col-sm-8 forgot-form-btn-div justify-content-center">
                                            <button type="button" (click)="forgotPassword()" class="btn forgot-form-btn" [disabled]="progress ? 'disabled': ''">{{ progress ? 'Please Wait...': 'Submit'  }}</button>
                                        </div>
                                    </div>
                                    <div>
                                        <p>{{ message }}</p>
                                    </div>
                                    <br/>   
                                   
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-2"></div>
            </div>
        </div>
    </div>
</section>