/* You can add global styles to this file, and also import other style files */
@import './app/styles/global/colors';

/** start animation css**/
@-webkit-keyframes zoom {
    from {
    -webkit-transform: scale(1, 1);
    }
    to {
    -webkit-transform: scale(1.5, 1.5);
    }
}

@keyframes zoom {
    from {
    transform: scale(1, 1);
    }
    to {
    transform: scale(1.5, 1.5);
    }
}
/** end animation css**/

/**common**/
.secPadTp{
    padding-top:5em;
}
.secTitle{
    text-transform: uppercase;
    font-weight: 600;
}
/**common**/
.topfixedNav{
    position: relative !important;
}
.fixedNav{
    margin-top:0% !important;
}

body{
    font-family: 'Josefin Sans', sans-serif !important;
    padding-top: 4.5rem;
}
.kvm-topNavbar{
    background-color: $kvm-darkRed;
    display: block;
    z-index:9999;
    padding: 5px;
    width: 100% !important;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    margin-right: 3em;
    .kvm-topNavbar-nav {
        margin-right: 3em;
    }
    .nav-item{
        display: inline;
        text-align: right;
        color: $kvm-white;
    }
    .nv-contact-icons-link{
        width:20px;
    }
    .social-link{
        padding: 0.5rem 0.3rem;
        .social-icons-link{
            width:20px;  
        }
    }
}
.kvm-nav-div {
    height: 47px;;
    .navbar-kvm{
    background-color: $kvm-white;
    margin-top: 2em;
    padding-left: 7em;
    padding-right: 3em;
        .nav-item{
            color: $kvm-black !important;
            text-transform: uppercase;
            font-weight: 500;
            
        }
        .nav-link{
            padding-right: .8rem !important;
            padding-left: 1.8rem !important;
        }
    }
}
.kvm-slider-carousel{
    .carousel-inner .carousel-item .img> img {
        -webkit-animation: zoom 10s;
        animation: zoom 10s;
    }
    #searchForm{
        position: absolute;
        top: 0%;
        left: 67%;
        background: $kvm-darkYellow;
        height: 800px;
        padding-top:15px;
        opacity: 1 !important;
        z-index:2 !important;
        transition: none !important;
      }
      .kvm-slider-carousel .carousel-caption{
        left:12% !important;
        right:0 !important;
        text-align: left;
        bottom: 7%;
    }
    .carousel-control-next, .carousel-indicators{
      right: 36% !important;
    }
    .carousel-caption h5{
      padding: 17px;
      width:50%;
    }
    .redCaption{
      background:$kvm-transparentRed;
    }
    .greenCaption{
      background:$kvm-transparentGreen;
    }

}
.slider-form-div {
    .fLogo-div{
        margin: 0 auto;    
    }
    .form-logo{
        padding-left: 7em;
        padding-right: 7em;
        margin-top: 4em;
        margin-bottom: 4em;
       
    }
    .form-control{
        height: calc(1.5em + 1rem + 15px) !important;
    }
    .form-group{
        padding: 0em 3em;
    }
    .slider-form-btn-div{
        // padding-left: 3em;
        // padding-right: 3em;
        margin: 0 auto;
        .slider-form-btn{
            text-transform: uppercase;
            font-weight: 500;
            border-radius: 50%;
            margin-top: 1.5em;
            font-size: 1.5em;
            padding: 12px 30px;
            border-radius: 30px;
            background-color: $kvm-darkGreen;
        }
    }
}
.slider-form-bt-txt-row{
    margin-top: 2em;
    .slider-form-bt-txt-div{
        margin: 0 auto;
        .slider-form-bt-txt{
            color: $kvm-white;
            font-size: 1.5em;
        }
        .slider-form-login-btn{
            background-color: $kvm-darkRed;
            border-radius: 0px;
            color: $kvm-white;
            font-size: 1em;
            padding: 5px 10px;
            
        }
    }
}

.why-choose-sec{
    .wc-us-row{
        padding-top: 2em;
    }
    .wc-img-dv{
        text-align: center;
        .wc-img{
            width: 50px;
        }
        .wc-p{
            padding-top: 1.5em;
            font-size: 1.2em;
        }
    }
    
}

.abt-us-sec{
    .abtRt{
        padding-top: 1em;
    }
    .abt-p-div{
        padding-top: 1em;
    }
    .abt-us-img{
        width: 720px;
    }
    .abt-p{
        font-size: 1.3em;
        color: #6f6565;
    }

}

.fs-mat-sec{
    .fs-mat-row{
        background-color: $kvm-lightGreen;
        padding-top: 2em;
        padding-bottom: 2em;
        margin-top: 2em;
        .fs-mat-form{
            margin:0 auto;
            .fs-btn-search{
                background-color: $kvm-darkGreen;
                border-radius: 30px;
                padding: 0.5em 2.5em 0.3em 2.5em;
                margin-top: 1.4em;
                font-size: 1.2em;
                text-transform: uppercase;
                color: $kvm-white;
            }
            .form-control{
                color: #a9a9a9;
                 border: 0px; 
                 border-radius: 0px; 
                 transition: none; 
            }
            .form-control:focus {
                box-shadow:none;
            }
            
        }
    }
}

.lt-bg-sec{
    .lt-bg-row{
        margin-top: 3em;
    }
    .lt-bg-dv{
        margin-bottom: 1.8em;
        .lt-bg-img-dv{
            text-align: center;
        }
        .lt-bg-img{
            border:2px solid #b4b3b3;
            border-radius: 50%;
        }
        .lt-bg-name{
            padding-top: 1em;
            color: #6f6565;
            text-align: center;
        }
        .lt-bg-img-dv:hover {
            background-color:rgba(255, 255, 255, 0.9);
            transition: .5s ease;
            border-radius: 50%;
            opacity: 1;
        }
        
        .lt-bg-img:hover,
        .lt-bg-img-dv:hover img {
            // visibility: hidden;
            opacity: 0.1;
        }
          
          
    }
    .lt-bg-btn-row{
        padding-top: 2em;
        margin:0 auto;
        .lt-bg-btn{
            text-transform: uppercase;
            background-color: $kvm-darkRed;
            margin: 0 auto;
            color: $kvm-white;
            border-radius: 50px;
            padding: 0.5em 2em 0.3em 2em;
        }
    }
}

.rf-row{
    background-image: url(assets/images/register-free.jpg);
    background-size: 100% 100%;
    height: 600px;
    background-attachment: scroll;
    background-repeat: no-repeat;
    .rf-p-dv{
        .rf-p{
            font-size: 1.4em;
            padding-top: 8em;
            color:$kvm-white;
            text-align: center;
        }
    }
    .rf-btn-dv{
        margin: 0 auto;
        text-align: center;
        padding-top: 1em;
        .rf-btn{
            color:$kvm-black;
            background-color:$kvm-yellow; 
            border-radius:30px;
            padding: 0.6em 2em 0.3em 2em;
            font-size: 1.2em;
            text-transform: uppercase;
            font-weight: 600;
        }
    }
}

.oser-row{
    margin-top: 3em;
    .oser-dv{
        margin-bottom: 1.8em;
        padding:7px;
        text-align: center;
        .oser-name{
            text-transform: uppercase;
            text-align: center;
            padding-top: 1em;
            font-size: 1.1em;
        }
    }
}

.ft{
    background-color: $kvm-darkYellow;
    padding: 2.5em 0em;
    .ft-logo-p-dv{
        padding-top: 1em;
    }
    .ft-list-ul{
        padding-top:1em;
        .ft-li{
            list-style: none;
            margin-bottom: 1em;
            a{
                text-transform: uppercase;
                color: $kvm-black;
                font-size: 0.9em;
            }
        }
        .ft-li a:hover{
            text-decoration-line: underline;
        }
    }
    .ft-ct-link{
        display:inline-flex;
        text-transform: unset !important;
        font-size: 1em !important;
        .ft-contact-icons-link{
            width:23px;
            margin-right: 3px;
            padding-right: 3px;
        }
    }
    .ft-social-dv{
        display: inline-flex;
        .ft-social-icons-link{
            width: 30px;
            padding: 3px;
        }
    }
}

@media screen  and (max-width: 600px) {
    .secPadTp{
        padding-top: 2em;
    }
    .secTitle{
        font-size: 1.3em;
    }
    .kvm-topNavbar{
        .nav-item {
            display: block;
            text-align: left !important;
        }
        .nav-item.social-link{
            display: inline;
            text-align: left!important;
            padding: 0.5rem 0rem 0rem 1rem;
            float: left;
            height: 30px;
        }
    }
    .kvm-nav-div {
        height: 119px;
        .navbar-kvm{
        // background-color: $kvm-darkRed;
        margin-top: 7.2em;
        padding-left: 1rem; 
        padding-right: 0em; 
        
        }
        .navbar-toggler{
            background: $kvm-darkRed;
            margin-right: 3px;
        }
        .navbar-collapse.collapse.show, .navbar-collapse.collapsing{
            height: 100vh;
        }
        .navbar-brand{
            margin-right: 0px;
            .navLogo{
                height: 50px;
                width: 245px;
            }
        }
    }
    .kvm-slider-carousel{
        .carousel-item{
            height:550px;
        }
        #searchForm{
            left:0px !important;
        }
        .carousel-control-prev, .carousel-control-next, .carousel-indicators {
            display: none !important;
        }

        .slider-form-div {
            .fLogo-div{
                margin: 0 auto;    
            }
            .form-logo{
                padding-left: 0em;
                padding-right: 0em;
                margin-top: 1em;
                margin-bottom: 1em;
               
            }
            .form-control{
                height: calc(1.5em + 1rem + 5px) !important;
            }
            .form-group{
                padding: 0em 1.5em;
            }
            .slider-form-btn-div{
                margin: 0 auto;
                .slider-form-btn{
                    text-transform: uppercase;
                    font-weight: 500;
                    border-radius: 50%;
                    margin-top: 0.5em;
                    font-size: 1em;
                    padding: 12px 30px;
                    border-radius: 30px;
                    background-color: $kvm-darkGreen;
                }
            }
        }
        .slider-form-bt-txt-row{
            margin-top: 1em;
            .slider-form-bt-txt-div{
                margin: 0 auto;
                .slider-form-bt-txt{
                    color: $kvm-white;
                    font-size: 1em;
                }
                .slider-form-login-btn{
                    background-color: $kvm-darkRed;
                    border-radius: 0px;
                    color: $kvm-white;
                    font-size: 1em;
                    padding: 5px 10px;
                    
                }
            }
        }
    
    }
    .why-choose-sec{
        .wc-us-row{
            padding-top: 1em;
        }
        .wc-img-dv{
            .wc-p{
                font-size: 1em;
            }
        }
    }
    .abt-us-sec .abt-p {
        font-size: 1em;
    }
    .lt-bg-sec {
        .lt-bg-row {
            margin-top: 1em;
        }
        .lt-bg-dv {
            margin-bottom: 0.1em;         }
    }
    .rf-sec{
        .rf-row{
            background-size: cover;
            .rf-p-dv .rf-p {
            padding-top: 1em;
            font-size: 1.2em;
            }
            .rf-btn-dv .rf-btn{
                font-size: 1em;
            }
        }
    }
    .oser-row {
        margin-top: 0.7em;
        .oser-dv{
            margin-bottom: 0.2em;
            .oser-name{
                font-size: 1em;
            }
        }
    }
}
@media only screen and (min-width:576px) and (max-width: 600px){
    .kvm-slider-carousel {
        .slider-form-div .col-sm-4 {
            max-width: 100%;
        }
    }
}
@media only screen and (min-width:601px) and (max-width: 767px){
    .kvm-nav-div{ 
        .navbar-kvm {
        padding-left: 2em;
        padding-right: 1em;
        }
        .navbar-toggler{
            background: $kvm-darkRed;
        }
        .navbar-collapse.collapse.show, .navbar-collapse.collapsing{
            height: 100vh;
        }
    }
    .kvm-slider-carousel {
        .carousel-item .img > img{
            height:450px;
        }
        .carousel-caption{
            left:5%;
        }
        .carousel-caption h5{
            padding: 17px;
            width:70%;
        }
        .slider-form-div{
            .form-logo {
                width: 175px;
                padding-left: 0.3em; 
                padding-right: 0.2em; 
                margin-top: 1em;
                margin-bottom: 1em;
            }
            .form-group {
                padding-left:0.2em;
                padding-right:1.2em;
                margin-bottom: 0.2rem;
            }
            .form-control{
                margin-bottom: 0.2em;
                height: calc(1.2em + 1rem + 2px) !important;
            }
            .slider-form-btn-div .slider-form-btn {
                margin-top: 0.8em;
                font-size: 0.8em;
                padding: 6px 10px;
            }
            .slider-form-bt-txt-div {
                margin-top: -12%;
            }
            .slider-form-bt-txt {
                font-size: 0.8em;
            }
            .slider-form-login-btn {
                padding: 3px 5px;
            }
        }

    }
}
@media only screen and (min-width:768px) and (max-width: 867px){
    .kvm-nav-div{ 
        .navbar-kvm {
        padding-left: 2em;
        padding-right: 1em;
            .nav-link {
                padding-right: 0.8rem !important;
                padding-left: 0.8rem !important;
            }
        }
        
    }
    .kvm-slider-carousel {
        .carousel-item .img > img{
            height:450px;
        }
        .carousel-caption{
            left:5%;
        }
        .carousel-caption h5{
            padding: 17px;
            width:70%;
        }
        .slider-form-div{
            .form-logo {
                width: 175px;
                padding-left: 0.3em; 
                padding-right: 0.2em; 
                margin-top: 1em;
                margin-bottom: 1em;
            }
            .form-group {
                padding-left:0.2em;
                padding-right:1.2em;
                margin-bottom: 0.2rem;
            }
            .form-control{
                margin-bottom: 0.2em;
                height: calc(1.2em + 1rem + 2px) !important;
            }
            .slider-form-btn-div .slider-form-btn {
                margin-top: 0.8em;
                font-size: 0.8em;
                padding: 6px 10px;
            }
            .slider-form-bt-txt-div {
                margin-top: -12%;
            }
            .slider-form-bt-txt {
                font-size: 0.8em;
            }
            .slider-form-login-btn {
                padding: 3px 5px;
            }
        }

    }
}
@media only screen and (min-width:868px) and (max-width: 991px){
    .kvm-nav-div{ 
        .navbar-kvm {
        padding-left: 2em;
        padding-right: 1em;
            .nav-link {
                padding-right: 0.8rem !important;
                padding-left: 0.8rem !important;
            }
        }
        
    }
    .kvm-slider-carousel {
        // margin-top: 12%;
        .carousel-item .img > img{
            height:450px;
        }
        .carousel-caption{
            left:5%;
        }
        .carousel-caption h5{
            padding: 17px;
            width:70%;
        }
        .slider-form-div{
            .form-logo {
                width: 175px;
                padding-left: 0.3em; 
                padding-right: 0.2em; 
                margin-top: 1em;
                margin-bottom: 1em;
            }
            .form-group {
                padding-left:0.2em;
                padding-right:1.2em;
                margin-bottom: 0.2rem;
            }
            .form-control{
                margin-bottom: 0.2em;
                height: calc(1.2em + 1rem + 2px) !important;
            }
            .slider-form-btn-div .slider-form-btn {
                margin-top: 0.8em;
                font-size: 0.8em;
                padding: 6px 10px;
            }
            .slider-form-bt-txt-div {
                margin-top: -10%;
            }
            .slider-form-bt-txt {
                font-size: 0.8em;
            }
            .slider-form-login-btn {
                padding: 3px 5px;
            }
        }

    }
}
@media only screen and (min-width:992px) and (max-width: 1048px){
    .kvm-nav-div{ 
        .navbar-kvm {
        padding-left: 2em;
        padding-right: 1em;
            .nav-link {
                padding-right: 0.8rem !important;
                padding-left: 0.8rem !important;
            }
        }
        
    }
    .kvm-slider-carousel {
        .carousel-item .img > img{
            height:450px;
        }
        .carousel-caption{
            left:5%;
        }
        .carousel-caption h5{
            padding: 17px;
            width:70%;
        }
        .slider-form-div{
            .form-logo {
                width: 175px;
                padding-left: 0.3em; 
                padding-right: 0.2em; 
                margin-top: 1em;
                margin-bottom: 1em;
            }
            .form-group {
                padding-left:0.2em;
                padding-right:1.2em;
                margin-bottom: 0.2rem;
            }
            .form-control{
                margin-bottom: 0.2em;
                height: calc(1.2em + 1rem + 2px) !important;
            }
            .slider-form-btn-div .slider-form-btn {
                margin-top: 0.8em;
                font-size: 0.8em;
                padding: 6px 10px;
            }
            .slider-form-bt-txt-div {
                margin-top: -5%;
            }
            .slider-form-bt-txt {
                font-size: 0.8em;
            }
            .slider-form-login-btn {
                padding: 3px 5px;
            }
        }

    }
}
@media only screen and (min-width:1049px) and (max-width: 1220px){
    .kvm-nav-div{ 
        .navbar-kvm {
        padding-left: 2em;
        padding-right: 1em;
            .nav-link {
                padding-right: 0.8rem !important;
                padding-left: 0.8rem !important;
            }
        }
        
    }
    .kvm-slider-carousel {
        .carousel-item .img > img{
            height:450px;
        }
        .carousel-caption{
            left:5%;
        }
        .carousel-caption h5{
            padding: 17px;
            width:70%;
        }
        .slider-form-div{
            .form-logo {
                width: 175px;
                padding-left: 0.3em; 
                padding-right: 0.2em; 
                margin-top: 1em;
                margin-bottom: 1em;
            }
            .form-group {
                padding-left:0.2em;
                padding-right:1.2em;
                margin-bottom: 0.2rem;
            }
            .form-control{
                margin-bottom: 0.2em;
                height: calc(1.2em + 1rem + 2px) !important;
            }
            .slider-form-btn-div .slider-form-btn {
                margin-top: 0.8em;
                font-size: 0.8em;
                padding: 6px 10px;
            }
            .slider-form-bt-txt-div {
                margin-top: -5%;
            }
            .slider-form-bt-txt {
                font-size: 0.8em;
            }
            .slider-form-login-btn {
                padding: 3px 5px;
            }
        }

    }
}
@media only screen and (min-width:1221px) and (max-width: 1440px){
    .kvm-nav-div{ 
        .navbar-kvm {
        padding-left: 2em;
        padding-right: 1em;
            .nav-link {
                padding-right: 0.8rem !important;
                padding-left: 0.8rem !important;
            }
        }
        
    }
    .kvm-slider-carousel {
        .carousel-item .img > img{
            height:600px;
        }
        .carousel-caption{
            left:5%;
        }
        .carousel-caption h5{
            padding: 17px;
            width:70%;
        }
        .slider-form-div{
            .form-logo {
                padding-left: 3em; 
                padding-right: 3em; 
                margin-top: 1em;
                margin-bottom: 1em;
            }
            .form-control{
                margin-bottom: 0.2em;
                height: calc(1.2em + 1rem + 5px) !important;
            }
            .slider-form-btn-div .slider-form-btn {
                margin-top: 0.8em;
                font-size: 1em;
                padding: 6px 10px;
            }
            .slider-form-bt-txt-div {
                margin-top: -5%;
            }
            .slider-form-bt-txt {
                font-size: 1em;
            }
            .slider-form-login-btn {
                padding: 3px 5px;
            }
        }

    }
}
@media only screen and (min-width:1441px) and (max-width: 1780px){
    .kvm-nav-div{ 
        .navbar-kvm {
        padding-left: 2em;
        padding-right: 1em;
            .nav-link {
                padding-right: 0.8rem !important;
                padding-left: 0.8rem !important;
            }
        }
        
    }
    .kvm-slider-carousel {
        .carousel-item .img > img{
            height:600px;
        }
        .carousel-caption{
            left:5%;
        }
        .carousel-caption h5{
            padding: 17px;
            width:70%;
        }
        .slider-form-div{
            .form-logo {
                padding-left: 3em; 
                padding-right: 3em; 
                margin-top: 1em;
                margin-bottom: 1em;
            }
            .form-control{
                margin-bottom: 0.2em;
                height: calc(1.2em + 1rem + 5px) !important;
            }
            .slider-form-btn-div .slider-form-btn {
                margin-top: 0.8em;
                font-size: 1em;
                padding: 6px 10px;
            }
            .slider-form-bt-txt-div {
                margin-top: -5%;
            }
            .slider-form-bt-txt {
                font-size: 1em;
            }
            .slider-form-login-btn {
                padding: 3px 5px;
            }
        }

    }
}

@media only screen and (min-width:992px) and (max-width:1220px){
    .secPadTp{
        padding-top: 3em;
    }
    .why-choose-sec{
        .wc-us-row{
            padding-top: 1em;
        }
        .wc-img-dv{
            .wc-p{
                font-size: 1em;
            }
        }
    }
    .abt-us-sec{
        .abt-p-div{
            padding-top: 0.1em;
            .abt-p {
                font-size: 1em;
            }
        }
    }
    .lt-bg-sec {
        .lt-bg-row {
            margin-top: 3em;
        }
        .lt-bg-dv {
            margin-bottom: 2em;         }
    }
    .rf-sec{
        .rf-row{
            background-size: cover;
            .rf-p-dv .rf-p {
            padding-top: 5em;
            font-size: 1.2em;
            }
            .rf-btn-dv .rf-btn{
                font-size: 1em;
            }
        }
    }
    .oser-row {
        margin-top: 2em;
        .oser-dv{
            margin-bottom: 0.2em;
            .oser-name{
                font-size: 1em;
            }
        }
    }
    .ft{
        .ft-col3 {
            padding: 0px;
        }
        .ft-list-ul .ft-li{
            margin-bottom: 0.5em;
            a{
                text-transform: uppercase !important;
            }
            .ft-ct-link{
                text-transform: none !important;
            }
        }
    }
}
@media only screen and (max-width:767px){
    .ft{
        .ft-col3 {
            padding:0px 15px !important;
        }
    }
}

@media only screen and (min-width:768px){
     .why-choose-sec{
        .wc-col-2{
            padding: 0px;
        }
    }
}

@media only screen and (max-width:991px){
    .secPadTp{
        padding-top: 3em;
    }
    .why-choose-sec{
        .wc-us-row{
            padding-top: 1em;
        }
        .wc-img-dv{
            .wc-p{
                font-size: 1em;
            }
        }
    }
    .abt-us-sec{
        .abt-p-div{
            padding-top: 0.1em;
            .abt-p {
                font-size: 1em;
            }
        }
    }
    .lt-bg-sec {
        .lt-bg-row {
            margin-top: 3em;
        }
        .lt-bg-dv {
            margin-bottom: 2em;         }
    }
    .rf-sec{
        .rf-row{
            background-size: cover;
            .rf-p-dv .rf-p {
            padding-top: 5em;
            font-size: 1.2em;
            }
            .rf-btn-dv .rf-btn{
                font-size: 1em;
            }
        }
    }
    .oser-row {
        margin-top: 2em;
        .oser-dv{
            margin-bottom: 0.2em;
            .oser-name{
                font-size: 1em;
            }
        }
    }
    .oser-row .oser-dv .oser-name {
        font-size: 0.9em;
    }
    .ft{
        .ft-col3 {
            padding: 0px;
        }
        .ft-list-ul .ft-li{
            margin-bottom: 0.5em;
            a{
                text-transform: capitalize;
            }
            .ft-ct-link{
                font-size: 0.9em !important;
                .ft-contact-icons-link{
                    width:16px;
                    margin-right: 2px;
                    padding-right: 2px;
                }
            }
        }
    }
}
