

<div id="carouselExampleIndicators" class="carousel slide carousel-fade kvm-slider-carousel" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
        <div class="img"><img class="d-block img-fluid" src="../assets/images/slider/kvm-slide-1.jpg" alt="First slide"></div>
            <div class="carousel-caption">
              <h5 class="animated fadeInLeft redCaption">Lorem ipsum dolor sit amet consectetur adipisicing elit</h5>
            </div>
      </div>
      <div class="carousel-item">
        <div class="img"><img class="d-block img-fluid" src="../assets/images/slider/kvm-slide-2.jpg" alt="Second slide"></div>
          <div class="carousel-caption">
            <h5 class="animated fadeInLeft greenCaption">Lorem ipsum dolor sit amet consectetur adipisicing elit</h5>
          </div>
      </div>
      <div class="carousel-item">
        <div class="img"><img class="d-block img-fluid" src="../assets/images/slider/kvm-slide-3.jpg" alt="Third slide"></div>
          <div class="carousel-caption">
            <h5 class="animated fadeInLeft redCaption">Lorem ipsum dolor sit amet consectetur adipisicing elit</h5>
          </div>
      </div>
      <form class="col-sm-12" id="searchForm" [formGroup]="regForm">
        <div class="slider-form-div">
                    <div class="row text-center fLogo-div">
            <img src="../assets/images/form-logo.png" class="img-fluid form-logo" alt="Kalyana Vayasu Logo">
                    </div>
            <div class="form-group col-sm-4 col-sm-offset-4">
            <label>Matrimony Profile For</label>
                <div class="input-group input-group-lg center-block">
                    <!-- <input type="text" class="form-control" placeholder=""> -->
                    <select name="profileCretor" class="form-control" required formControlName="proCreId">
                      <option value="" selected>--- Please Select ---</option>  
                      <option *ngFor="let pc of profileCreatorArray"
                          [value]="pc.profile_creator_id">{{ pc.profile_creator_type }}
                        </option>
                    </select>
                 </div>
                 <div class="alert-danger" *ngIf="!regForm.controls['proCreId'].valid && (regForm.controls['proCreId'].touched)">
                     <div [hidden]="!regForm.controls['proCreId'].errors.required">
                       required.
                     </div>
                 </div>
            </div>
            <div class="form-group col-sm-4 col-sm-offset-4">
            <label>Name</label>
                <div class="input-group input-group-lg center-block">
                    <input name="profileName" type="text" class="form-control" placeholder="" required formControlName="pName">
                </div>
                <div class="alert-danger" *ngIf="!regForm.controls['pName'].valid && (regForm.controls['pName'].touched)">
                  <div [hidden]="!regForm.controls['pName'].errors.required">
                    Name is required.
                  </div>                            
                  <div [hidden]="!regForm.controls['pName'].errors.minlength">
                      Name must be at least 4 characters long.
                  </div>                         
                  <div [hidden]="!regForm.controls['pName'].errors.maxlength">
                      Name max allowed 25 characters long.
                  </div>
              </div>
            </div>
     
            <div class="form-group col-sm-4 col-sm-offset-4">
            <label>Mobile Number</label>
                <div class="input-group input-group-lg center-block">
                    <input name="pMobNo1" type="text" class="form-control" placeholder="" required  formControlName="pMobNo1">                    
                </div>
                <div class="alert-danger" *ngIf="!regForm.controls['pMobNo1'].valid && (regForm.controls['pMobNo1'].touched)">
                    <div [hidden]="!regForm.controls['pMobNo1'].errors.required">
                      required.
                    </div>
                    <div [hidden]="!regForm.controls['pMobNo1'].errors.minlength">
                      Mobile number must be 10 digit.
                    </div>
                    <div [hidden]="!regForm.controls['pMobNo1'].errors.pattern">
                      Please enter valid mobile number format (ex. 9876543210).
                    </div>
                </div> 
                <div>
                  <p style="position: absolute;">{{ message }}</p>
                </div>                
            </div>
            <div class="row form-group col-sm-4 col-sm-offset-6 text-center">
                <div class="slider-form-btn-div justify-content-center">
                    <button type="submit" class="btn slider-form-btn" (click)="userRegister()" [disabled]="!regForm.valid">Register Free</button>
                </div>
            </div>
            <div class="row form-group col-sm-4 col-sm-offset-6 text-center slider-form-bt-txt-row">
                <div class="slider-form-bt-txt-div justify-content-center">
                  <p class="slider-form-bt-txt">Already a Member? <button type="submit" class="btn slider-form-login-btn" (click)="userLogin()">Login</button></p>
                </div>
            </div>
        </div>
      </form>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
</div>

<section class="why-choose-sec secPadTp" >
  <div class="container-fluid">
    <div class="secTitle-div">
      <h3 class="secTitle text-center">Why Choose Us</h3>
    </div>
    <div class="row wc-us-row">
      <div class="col-md-1"></div>
      <div class="col-md-2 wc-col-2">
        <div class="wc-img-dv">
          <img src="../assets/images/why-choose-us/1.svg" class="img-fluid wc-img" alt="Why choose us 1">
          <p class="wc-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic harum accusamus </p>
        </div>
      </div>
      <div class="col-md-2 wc-col-2">
        <div class="wc-img-dv">
          <img src="../assets/images/why-choose-us/2.svg" class="img-fluid wc-img" alt="Why choose us 2">
          <p class="wc-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic harum accusamus </p>
        </div>
      </div>
      <div class="col-md-2 wc-col-2">
        <div class="wc-img-dv">
          <img src="../assets/images/why-choose-us/3.svg" class="img-fluid wc-img" alt="Why choose us 3">
          <p class="wc-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic harum accusamus </p>
        </div>
      </div>
      <div class="col-md-2 wc-col-2">
        <div class="wc-img-dv">
          <img src="../assets/images/why-choose-us/4.svg" class="img-fluid wc-img" alt="Why choose us 4">
          <p class="wc-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic harum accusamus </p>
        </div>
      </div>
      <div class="col-md-2 wc-col-2">
        <div class="wc-img-dv">
          <img src="../assets/images/why-choose-us/5.svg" class="img-fluid wc-img" alt="Why choose us 5">
          <p class="wc-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic harum accusamus </p>
        </div>
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>
</section> 

<div id="AbtUs">
<section class="abt-us-sec secPadTp" id="AboutUs">
  <div class="container-fluid">
    <div class="row abt-us-row">
      <div class="col-md-1"></div>
      <div class="col-lg-5 col-md-5 abtLt">
          
          <div class="abt-us-img-div">
            <img src="../assets/images/about-us.jpg" class="img-fluid abt-us-img" alt="About Us">
          </div>
      </div>
      <div class="col-lg-5 col-md-5 abtRt">
          <div class="secTitle-div">
              <h3 class="secTitle">ABOUT US</h3>
          </div>
          <div class="abt-p-div">
              <p class="abt-p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi minus laborum dicta in facilis! Itaque exercitationem facilis voluptates libero iste facere necessitatibus ratione excepturi natus ab officia tempore, quod repellat.</p>
              <p class="abt-p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod consectetur illo vitae! Minima recusandae consequatur accusantium debitis reiciendis, laborum inventore molestiae ex expedita quis. Doloribus illum alias saepe nostrum magnam!</p>
          </div>
      </div>
      <div class="col-md-1"></div>
    </div>
      



  </div>
</section> 
</div>

<section class="fs-mat-sec secPadTp">
  <div class="container-fluid">
      <div class="secTitle-div">
          <h3 class="secTitle text-center">Find Your Soul Mate</h3>
      </div>
      <div class="row fs-mat-row">
            <div class="container">
                <form class="fs-mat-form">
                    <div class="row text-left">
                      <div class="col-md-3 form-group">
                          <label for="looking for">I'm looking for a</label>
                          <select name="lookFor" class="form-control">
                              <option value="" selected >Bride</option>
                              <option value="">Groom</option>
                          </select>
                      </div>
                      <div class="col-md-3">
                          <label for="age">Age</label>
                          <select name="lookFor" class="form-control">
                              <option value="" selected >25 - 30</option>
                              <option value="">30 - 35</option>
                          </select>
                      </div>
                      <div class="col-md-3">
                          <label for="age">Caste:</label>
                          <select name="lookFor" class="form-control">
                              <option value="" selected disabled>Caste</option>
                              <option *ngFor="let caste of castes"
                                [value]="caste.caste_id">{{ caste.caste_type }}
                              </option>
                          </select>
                      </div>
                      <div class="col-md-3">
                          <button type="submit" class="btn fs-btn-search">Search</button>
                      </div>
                      
                    </div>
                </form>
            </div>
      </div>
  </div>
</section>

<section class="lt-bg-sec secPadTp">
    <div class="container-fluid">
        <div class="secTitle-div">
            <h3 class="secTitle text-center">Latest Brides & Grooms</h3>
        </div>
        <div class="row lt-bg-row">
          <div class="container">
              <div class="row">
                <div class="col-md-3 col-sm-6">
                  <div class="lt-bg-dv">
                    <div class="lt-bg-img-dv">
                      <img src="../assets/images/bride-groom/fm-1.png" class="img-fluid lt-bg-img" alt="Bride groom Image">
                      <div class="overlay"></div>
                    </div>
                    <h5 class="lt-bg-name">Massa euismod</h5>
                  </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="lt-bg-dv">
                      <div class="lt-bg-img-dv">
                        <img src="../assets/images/bride-groom/fm-1.png" class="img-fluid lt-bg-img">
                        <div class="overlay"></div>
                      </div>
                      <h5 class="lt-bg-name">Massa euismod</h5>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                      <div class="lt-bg-dv">
                        <div class="lt-bg-img-dv">
                          <img src="../assets/images/bride-groom/fm-1.png" class="img-fluid lt-bg-img">
                          <div class="overlay"></div>
                        </div>
                        <h5 class="lt-bg-name">Massa euismod</h5>
                      </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <div class="lt-bg-dv">
                      <div class="lt-bg-img-dv">
                        <img src="../assets/images/bride-groom/fm-1.png" class="img-fluid lt-bg-img">
                        <div class="overlay"></div>
                      </div>
                      <h5 class="lt-bg-name">Massa euismod</h5>
                    </div>
                </div>
              </div>
              <div class="row">
                  <div class="col-md-3 col-sm-6">
                    <div class="lt-bg-dv">
                      <div class="lt-bg-img-dv">
                        <img src="../assets/images/bride-groom/fm-1.png" class="img-fluid lt-bg-img">
                        <div class="overlay"></div>
                      </div>
                      <h5 class="lt-bg-name">Massa euismod</h5>
                    </div>
                  </div>
                  <div class="col-md-3 col-sm-6">
                      <div class="lt-bg-dv">
                        <div class="lt-bg-img-dv">
                          <img src="../assets/images/bride-groom/fm-1.png" class="img-fluid lt-bg-img">
                          <div class="overlay"></div>
                        </div>
                        <h5 class="lt-bg-name">Massa euismod</h5>
                      </div>
                  </div>
                  <div class="col-md-3 col-sm-6">
                        <div class="lt-bg-dv">
                          <div class="lt-bg-img-dv">
                            <img src="../assets/images/bride-groom/fm-1.png" class="img-fluid lt-bg-img">
                            <div class="overlay"></div>
                          </div>
                          <h5 class="lt-bg-name">Massa euismod</h5>
                        </div>
                  </div>
                  <div class="col-md-3 col-sm-6">
                      <div class="lt-bg-dv">
                        <div class="lt-bg-img-dv">
                          <img src="../assets/images/bride-groom/fm-1.png" class="img-fluid lt-bg-img">
                          <div class="overlay"></div>
                        </div>
                        <h5 class="lt-bg-name">Massa euismod</h5>
                      </div>
                  </div>
              </div>
              <div class="row lt-bg-btn-row">
                <button type="submit" class="btn lt-bg-btn">View All</button>
              </div>
              <br/>
          </div>
          
        </div>
    </div>
</section>

<section class="rf-sec secPadTp">
    <div class="container-fluid">
      <div class="rf-dv">
        <div class="row rf-row">
          <div class="col-md-8 rfLt"></div>
          <div class="col-md-4 rfRt">
            <div class="rf-p-dv">
              <p class="rf-p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas corporis quia architecto eaque totam provident, non enim voluptatem quae sunt vero atque magnam aliquid, ex eligendi molestias porro explicabo et.</p>
            </div>
            <div class="rf-btn-dv">
              <button type="submit" class="btn rf-btn">Register Free</button>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>

<section class="oser-sec secPadTp">
    <div class="container-fluid">
        <div class="secTitle-div">
            <h3 class="secTitle text-center">Our Other Services</h3>
        </div>
        <div class="row oser-row">
          <div class="container">
            <div class="row">
              <div class="col-md-4">
                <div class="oser-dv">
                  <div class="oser-img-dv">
                    <img src="../assets/images/services/wedding-photography.jpg" class="img-fluid oser-img" alt="Wedding Photography">
                  </div>
                  <h5 class="oser-name">Wedding Photography</h5>
                </div>
              </div>
              <div class="col-md-4">
                  <div class="oser-dv">
                    <div class="oser-img-dv">
                      <img src="../assets/images/services/tourism-honeymoon.jpg" class="img-fluid oser-img" alt="Tourism / Honeymoon">
                    </div>
                    <h5 class="oser-name">Tourism / Honeymoons</h5>
                  </div>
              </div>
              <div class="col-md-4">
                    <div class="oser-dv">
                      <div class="oser-img-dv">
                        <img src="../assets/images/services/stage-decor.jpg" class="img-fluid oser-img" alt="Stage Decor">
                      </div>
                      <h5 class="oser-name">Stage Decors</h5>
                    </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-2"></div>
                <div class="col-md-4">
                  <div class="oser-dv">
                    <div class="oser-img-dv">
                      <img src="../assets/images/services/brides-makeup.jpg" class="img-fluid oser-img" alt="Brides Makeup">
                    </div>
                    <h5 class="oser-name">Brides Makeup</h5>
                  </div>
                </div>
                <div class="col-md-4">
                    <div class="oser-dv">
                      <div class="oser-img-dv">
                        <img src="../assets/images/services/food-and-catering.jpg" class="img-fluid oser-img" alt="Food And Catering">
                      </div>
                      <h5 class="oser-name">Food And Catering</h5>
                    </div>
                </div>
              <div class="col-md-2"></div>
            </div>
  
          </div>
        </div>
    </div>
</section>

