<section class="reg-sec">
    <div class="container">
        <form class="regForm" [formGroup]="regForm" (ngSubmit)="register(regForm.value)">
            <h3 class="text-center">Register Your Profile</h3>
            <fieldset>
                    <legend>Basic Info</legend>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="">Profile Created For</label>
                            <select class="form-control" required formControlName="proCreId">
                                <option value="">--- Please Select ---</option>
                                <option *ngFor="let pc of profileCreatorArray"
                                  [selected]="( pc.profile_creator_id == profileCreatorId ) ? selected : ''" [value]="pc.profile_creator_id">{{ pc.profile_creator_type }}
                                </option>
                            </select>
                        </div>
                        <div class="alert-danger" *ngIf="!regForm.controls['proCreId'].valid && (regForm.controls['proCreId'].touched)">
                            <div [hidden]="!regForm.controls['proCreId'].errors.required">
                              required.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="">Name</label>
                            <input type="text" class="form-control" required formControlName="pName">
                        </div>
                        <div class="alert-danger" *ngIf="!regForm.controls['pName'].valid && (regForm.controls['pName'].touched)">
                            <div [hidden]="!regForm.controls['pName'].errors.required">
                              Name is required.
                            </div>                            
                            <div [hidden]="!regForm.controls['pName'].errors.minlength">
                                Name must be at least 4 characters long.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                            <div class="form-group">
                                <label for="">Dob</label>
                                <!-- <input type="text" class="form-control" formControlName="pDob"> -->

<angular2-date-picker class="" id="datetimepicker" [(ngModel)]="date" type="date"  formControlName="pDob" [settings]="settings" ></angular2-date-picker>
                            </div>
                            <div class="alert-danger" *ngIf="!regForm.controls['pDob'].valid && (regForm.controls['pDob'].touched)">
                                <div [hidden]="!regForm.controls['pDob'].errors.required">
                                  required.
                                </div>
                            </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="">Gender</label>
                            <br/>
                            <div class="form-check-inline">
                                <label class="form-check-label">
                                <input value="2" required type="radio" class="form-check-input" name="pGender" formControlName="pGender">Female
                                </label>
                            </div>
                            <div class="form-check-inline">
                                <label class="form-check-label">
                                <input value="1" required type="radio" class="form-check-input" name="pGender" formControlName="pGender">Male
                                </label>
                            </div>
                        </div>
                        <div class="alert-danger" *ngIf="!regForm.controls['pGender'].valid && (regForm.controls['pGender'].touched)">
                            <div [hidden]="!regForm.controls['pGender'].errors.required">
                              required.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="">Height</label>
                            <select class="form-control" required formControlName="pHeight">
                                <option value="" selected>--- Please Select ---</option>>
                                <option *ngFor="let height of heightArray"
                                    [value]="height.key">{{ height.value }}
                                </option> 
                            </select>
                        </div>
                        <div class="alert-danger" *ngIf="!regForm.controls['pHeight'].valid && (regForm.controls['pHeight'].touched)">
                            <div [hidden]="!regForm.controls['pHeight'].errors.required">
                              required.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="">Mobile No</label>
                            <input type="text" class="form-control" value="{{ mobileNumber }}" formControlName="pMobNo1">
                        </div>
                        <div class="alert-danger" *ngIf="!regForm.controls['pMobNo1'].valid && (regForm.controls['pMobNo1'].touched)">
                            <div [hidden]="!regForm.controls['pMobNo1'].errors.required">
                              required.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="">Email</label>
                            <input type="email" class="form-control" formControlName="pEmail">
                        </div>
                        <div class="alert-danger" *ngIf="!regForm.controls['pEmail'].valid && (regForm.controls['pEmail'].touched)">
                            <div [hidden]="!regForm.controls['pEmail'].errors.required">
                              required.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="">Password</label>
                            <input type="password" class="form-control" formControlName="pPassword">
                        </div>
                        <div class="alert-danger" *ngIf="!regForm.controls['pPassword'].valid && (regForm.controls['pPassword'].touched)">
                            <div [hidden]="!regForm.controls['pPassword'].errors.required">
                              required.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="">Marital Status</label>
                            <select class="form-control" required formControlName="pMaritalStatusId">
                                <option value="" selected>--- Please Select ---</option>
                                <option *ngFor="let ms of maritalStatusArray"
                                    [value]="ms.ms_id">{{ ms.ms_type }}
                                </option>
                            </select>
                        </div>
                        <div class="alert-danger" *ngIf="!regForm.controls['pMaritalStatusId'].valid && (regForm.controls['pMaritalStatusId'].touched)">
                            <div [hidden]="!regForm.controls['pMaritalStatusId'].errors.required">
                              required.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="">Physical Status</label>
                            <select class="form-control" required formControlName="pPhysicalStatusId">
                                <option value="" selected>--- Please Select ---</option>
                                <option *ngFor="let ps of physicalStatusArray"
                                    [value]="ps.ps_id">{{ ps.ps_type }}
                                </option>
                            </select>
                        </div>
                        <div class="alert-danger" *ngIf="!regForm.controls['pPhysicalStatusId'].valid && (regForm.controls['pPhysicalStatusId'].touched)">
                            <div [hidden]="!regForm.controls['pPhysicalStatusId'].errors.required">
                              required.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="">Mother Tongue</label>
                            <select class="form-control" required formControlName="pMotherTongueId">
                                <option value="" selected>--- Please Select ---</option>
                                <option *ngFor="let lan of languageArray"
                                    [value]="lan.lan_id">{{ lan.lan_type }}
                                </option>
                            </select>
                        </div>
                        <div class="alert-danger" *ngIf="!regForm.controls['pMotherTongueId'].valid && (regForm.controls['pMotherTongueId'].touched)">
                            <div [hidden]="!regForm.controls['pMotherTongueId'].errors.required">
                              required.
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
            <br/>
            <fieldset>
                <legend>Religion Info</legend>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="">Religion</label>
                            <select class="form-control" required formControlName="riReligionId">
                                <option value="" selected>--- Please Select ---</option>                            
                                <option *ngFor="let reli of religionArray"
                                    [value]="reli.religion_id">{{ reli.religion_type }}
                                </option>
                            </select>
                        </div>
                        <div class="alert-danger" *ngIf="!regForm.controls['riReligionId'].valid && (regForm.controls['riReligionId'].touched)">
                            <div [hidden]="!regForm.controls['riReligionId'].errors.required">
                              required.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="">Caste</label>
                            <select class="form-control" required formControlName="riCasteId">
                                <option value="" selected>--- Please Select ---</option>  
                                <option *ngFor="let caste of casteArray"
                                    [value]="caste.caste_id">{{ caste.caste_type }}
                                </option>
                            </select>
                        </div>
                        <div class="alert-danger" *ngIf="!regForm.controls['riCasteId'].valid && (regForm.controls['riCasteId'].touched)">
                            <div [hidden]="!regForm.controls['riCasteId'].errors.required">
                              required.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="">SubCaste</label>
                            <input type="text" class="form-control" formControlName="riSubCaste">
                        </div> 
                    </div>
                </div>
            </fieldset>
            <br/>
            <fieldset>
                <legend>Family Info</legend>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="">Family Value</label>
                            <select class="form-control" required formControlName="fdFvId">
                                <option value="" selected>--- Please Select ---</option>  
                                <option *ngFor="let fv of fvArray"
                                    [value]="fv.fv_id">{{ fv.fv_type }}
                                </option>
                            </select>
                        </div>
                        <div class="alert-danger" *ngIf="!regForm.controls['fdFvId'].valid && (regForm.controls['fdFvId'].touched)">
                            <div [hidden]="!regForm.controls['fdFvId'].errors.required">
                              required.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="">Family Type</label>
                            <select class="form-control" required formControlName="fdFtId">
                                <option value="" selected>--- Please Select ---</option>  
                                <option *ngFor="let ft of ftArray"
                                    [value]="ft.ft_id">{{ ft.ft_type }}
                                </option>
                            </select>
                        </div>
                        <div class="alert-danger" *ngIf="!regForm.controls['fdFtId'].valid && (regForm.controls['fdFtId'].touched)">
                            <div [hidden]="!regForm.controls['fdFtId'].errors.required">
                              required.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="">Family Status</label>
                            <select class="form-control" required formControlName="fdFsId">
                                <option value="" selected>--- Please Select ---</option>  
                                <option *ngFor="let fs of fsArray"
                                    [value]="fs.fs_id">{{ fs.fs_type }}
                                </option>
                            </select>
                        </div>
                        <div class="alert-danger" *ngIf="!regForm.controls['fdFsId'].valid && (regForm.controls['fdFsId'].touched)">
                            <div [hidden]="!regForm.controls['fdFsId'].errors.required">
                              required.
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
            <br/>
            <fieldset>
                <legend>Others</legend>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="">Higher Education</label>
                            <select class="form-control" required formControlName="piHighEduId">
                                <option value="" selected>--- Please Select ---</option>  
                                <option *ngFor="let edu of eduArray"
                                    [value]="edu.edu_id">{{ edu.edu_course }}
                                </option>
                            </select>
                        </div>
                        <div class="alert-danger" *ngIf="!regForm.controls['piHighEduId'].valid && (regForm.controls['piHighEduId'].touched)">
                            <div [hidden]="!regForm.controls['piHighEduId'].errors.required">
                              required.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="">Employee Type</label>
                            <select class="form-control" required formControlName="piEmpTypeId">
                                <option value="" selected>--- Please Select ---</option>  
                                <option *ngFor="let et of empTypeArray"
                                    [value]="et.emp_type_id">{{ et.emp_type }}
                                </option>
                            </select>
                        </div>
                        <div class="alert-danger" *ngIf="!regForm.controls['piEmpTypeId'].valid && (regForm.controls['piEmpTypeId'].touched)">
                            <div [hidden]="!regForm.controls['piEmpTypeId'].errors.required">
                              required.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="">Occupation Type</label>
                            <select class="form-control" required formControlName="piOccTypeId">
                                <option value="" selected>--- Please Select ---</option>  
                                <option *ngFor="let occ of occupationArray"
                                    [value]="occ.occ_id">{{ occ.occ_type }}
                                </option>
                            </select>
                        </div>
                        <div class="alert-danger" *ngIf="!regForm.controls['piOccTypeId'].valid && (regForm.controls['piOccTypeId'].touched)">
                            <div [hidden]="!regForm.controls['piOccTypeId'].errors.required">
                              required.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="">Annual Income Currency</label>
                            <select class="form-control" required formControlName="piAnnIncomeCurrId">
                                <option value="" selected>--- Please Select ---</option>  
                                <option *ngFor="let ct of currTypeArray"
                                    [value]="ct.curr_id">{{ ct.curr_type }}
                                </option>
                            </select>
                        </div>
                        <div class="alert-danger" *ngIf="!regForm.controls['piAnnIncomeCurrId'].valid && (regForm.controls['piAnnIncomeCurrId'].touched)">
                            <div [hidden]="!regForm.controls['piAnnIncomeCurrId'].errors.required">
                              required.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="">Annual Income</label>
                            <select class="form-control" required formControlName="piAnnIncomeId">
                                <option value="" selected>--- Please Select ---</option>                                  
                                <option *ngFor="let ann of annIncomeArray"
                                    [value]="ann.ann_in_id">{{ ann.ann_in_range }}
                                </option>
                            </select>
                        </div>
                        <div class="alert-danger" *ngIf="!regForm.controls['piAnnIncomeId'].valid && (regForm.controls['piAnnIncomeId'].touched)">
                            <div [hidden]="!regForm.controls['piAnnIncomeId'].errors.required">
                              required.
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
            <br/>
            <div class="row">
                <div class="reg-btn-dv">
                    <button type="submit" class="btn regform-btn" [disabled]="!regForm.valid">Create Profile</button>
                </div>
            </div>
        </form>
    </div>
</section>