@import '../styles/global/colors';
.reg-sec{
    padding: 2em 0em;   
    background: rgba(189, 189, 189, 0.2);
    .regForm{
        background: $kvm-white;
        box-shadow: 0px 0px 5px 5px #fff;
        padding: 2.2em;
    }
    .reg-btn-dv{
        margin: 0 auto;
        .regform-btn{
            padding: 0.5em 3em;
            background: $kvm-darkGreen;
            border-radius: 30px;
            color:$kvm-white;
        }
    }
    fieldset {
    border: 1px solid #ddd !important;
    margin: 0;
    min-width: 0;
    padding: 10px;       
    position: relative;
    border-radius:4px;
    // background-color:#f5f5f5;
    padding-left:10px!important;
    }	

    legend {
        font-size:14px;
        font-weight:bold;
        margin-bottom: 0px; 
        // width: 35%; 
        width: auto;
        border: 1px solid #ddd;
        border-radius: 4px; 
        padding: 5px 5px 5px 10px; 
        background-color: #ffffff;
    }
}